<div>
	<form>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label>Name</label>
					<input class="form-control" [(ngModel)]="searchCriteria.name" name="name">
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group">
					<label>Email</label>
					<input class="form-control" [(ngModel)]="searchCriteria.email" name="email">
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group">
					<label>Account ID</label>
					<input class="form-control" [(ngModel)]="searchCriteria.id" name="accountId">
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group">
					<label>GitHub account ID</label>
					<input class="form-control" [(ngModel)]="searchCriteria.gitHubAccountId" name="gitHubAccountId">
				</div>
			</div>

			<div class="col-md-4 col-md-offset-4">
				<div class="form-group">
					<label>&nbsp;</label>
					<button type="submit" class="btn btn-primary form-control" (click)="search($event)">Search</button>
				</div>
			</div>
		</div>

	</form>

	<div>
		<ngb-pagination [collectionSize]="pager.totalElements" [pageSize]="pager.pageSize" [(page)]="pager.pageNumber" (pageChange)="loadAccounts()"></ngb-pagination>
	</div>

	<ul class="list-group" *ngIf="hasAccounts()">
		<li class="list-group-item" *ngFor="let account of getAccounts()">

			<div>
				<h4><span class="label label-default">{{account.name}}</span></h4>
				<small>
					(<strong>{{account.id}}</strong>) <a href="mailto:{{account.email}}">{{account.email}}</a>
					(<a href="https://api.github.com/user/{{account.gitHubAccountId}}">GitHub API</a>)
				</small>
			</div>
		</li>
	</ul>

</div>
