swagger: '2.0'
info:
  title: STAPI
  version: '1.0.0'
host: stapi.co
schemes:
  - http
basePath: /api/v1/rest
produces:
  - application/json
paths:
  /character:
    $ref: ./character/path/character.path.yaml
  /episode:
    $ref: ./episode/path/episode.path.yaml
  /movie:
    $ref: ./movie/path/movie.path.yaml
  /performer:
    $ref: ./performer/path/performer.path.yaml
  /series:
    $ref: ./series/path/series.path.yaml
  /staff:
    $ref: ./staff/path/staff.path.yaml
definitions:
  Character:
    $ref: ./character/entity/character.yaml
  CharacterHeader:
    $ref: ./character/entity/characterHeader.yaml
  CharacterResponse:
    $ref: ./character/entity/characterResponse.yaml
  Episode:
    $ref: ./episode/entity/episode.yaml
  EpisodeHeader:
    $ref: ./episode/entity/episodeHeader.yaml
  EpisodeResponse:
    $ref: ./episode/entity/episodeResponse.yaml
  Error:
    $ref: ./common/entity/error.yaml
  Movie:
    $ref: ./movie/entity/movie.yaml
  MovieHeader:
    $ref: ./movie/entity/movieHeader.yaml
  MovieResponse:
    $ref: ./movie/entity/movieResponse.yaml
  Performer:
    $ref: ./performer/entity/performer.yaml
  PerformerHeader:
    $ref: ./performer/entity/performerHeader.yaml
  PerformerResponse:
    $ref: ./performer/entity/performerResponse.yaml
  ResponsePage:
    $ref: ./common/entity/responsePage.yaml
  Series:
    $ref: ./series/entity/series.yaml
  SeriesHeader:
    $ref: ./series/entity/seriesHeader.yaml
  SeriesResponse:
    $ref: ./series/entity/seriesResponse.yaml
  Staff:
    $ref: ./staff/entity/staff.yaml
  StaffHeader:
    $ref: ./staff/entity/staffHeader.yaml
  StaffResponse:
    $ref: ./staff/entity/staffResponse.yaml
