swagger: '2.0'
info:
  title: STAPI
  version: '1.0.0'
host: stapi.co
schemes:
  - http
basePath: /api/v1/rest
produces:
  - application/json
paths:
  /astronomicalObject:
    $ref: ./astronomical_object/path/astronomicalObject.path.yaml
  /astronomicalObject/search:
    $ref: ./astronomical_object/path/astronomicalObjectSearch.path.yaml
  /book:
    $ref: ./book/path/book.path.yaml
  /book/search:
    $ref: ./book/path/bookSearch.path.yaml
  /bookCollection:
    $ref: ./book_collection/path/bookCollection.path.yaml
  /bookCollection/search:
    $ref: ./book_collection/path/bookCollectionSearch.path.yaml
  /bookSeries:
    $ref: ./book_series/path/bookSeries.path.yaml
  /bookSeries/search:
    $ref: ./book_series/path/bookSeriesSearch.path.yaml
  /character:
    $ref: ./character/path/character.path.yaml
  /character/search:
    $ref: ./character/path/characterSearch.path.yaml
  /comics:
    $ref: ./comics/path/comics.path.yaml
  /comics/search:
    $ref: ./comics/path/comicsSearch.path.yaml
  /comicCollection:
    $ref: ./comic_collection/path/comicCollection.path.yaml
  /comicCollection/search:
    $ref: ./comic_collection/path/comicCollectionSearch.path.yaml
  /comicSeries:
    $ref: ./comic_series/path/comicSeries.path.yaml
  /comicSeries/search:
    $ref: ./comic_series/path/comicSeriesSearch.path.yaml
  /comicStrip:
    $ref: ./comic_strip/path/comicStrip.path.yaml
  /comicStrip/search:
    $ref: ./comic_strip/path/comicStripSearch.path.yaml
  /company:
    $ref: ./company/path/company.path.yaml
  /company/search:
    $ref: ./company/path/companySearch.path.yaml
  /episode:
    $ref: ./episode/path/episode.path.yaml
  /episode/search:
    $ref: ./episode/path/episodeSearch.path.yaml
  /food:
    $ref: ./food/path/food.path.yaml
  /food/search:
    $ref: ./food/path/foodSearch.path.yaml
  /literature:
    $ref: ./literature/path/literature.path.yaml
  /literature/search:
    $ref: ./literature/path/literatureSearch.path.yaml
  /location:
    $ref: ./location/path/location.path.yaml
  /location/search:
    $ref: ./location/path/locationSearch.path.yaml
  /magazine:
    $ref: ./magazine/path/magazine.path.yaml
  /magazine/search:
    $ref: ./magazine/path/magazineSearch.path.yaml
  /magazineSeries:
    $ref: ./magazine_series/path/magazineSeries.path.yaml
  /magazineSeries/search:
    $ref: ./magazine_series/path/magazineSeriesSearch.path.yaml
  /movie:
    $ref: ./movie/path/movie.path.yaml
  /movie/search:
    $ref: ./movie/path/movieSearch.path.yaml
  /organization:
    $ref: ./organization/path/organization.path.yaml
  /organization/search:
    $ref: ./organization/path/organizationSearch.path.yaml
  /performer:
    $ref: ./performer/path/performer.path.yaml
  /performer/search:
    $ref: ./performer/path/performerSearch.path.yaml
  /series:
    $ref: ./series/path/series.path.yaml
  /series/search:
    $ref: ./series/path/seriesSearch.path.yaml
  /species:
    $ref: ./species/path/species.path.yaml
  /species/search:
    $ref: ./species/path/speciesSearch.path.yaml
  /staff:
    $ref: ./staff/path/staff.path.yaml
  /staff/search:
    $ref: ./staff/path/staffSearch.path.yaml
definitions:
  AstronomicalObjectHeader:
    $ref: ./astronomical_object/entity/astronomicalObjectHeader.yaml
  AstronomicalObjectBase:
    $ref: ./astronomical_object/entity/astronomicalObjectBase.yaml
  AstronomicalObjectFull:
    $ref: ./astronomical_object/entity/astronomicalObjectFull.yaml
  AstronomicalObjectBaseResponse:
    $ref: ./astronomical_object/entity/astronomicalObjectBaseResponse.yaml
  AstronomicalObjectFullResponse:
    $ref: ./astronomical_object/entity/astronomicalObjectFullResponse.yaml
  BookHeader:
    $ref: ./book/entity/bookHeader.yaml
  BookBase:
    $ref: ./book/entity/bookBase.yaml
  BookFull:
    $ref: ./book/entity/bookFull.yaml
  BookBaseResponse:
    $ref: ./book/entity/bookBaseResponse.yaml
  BookFullResponse:
    $ref: ./book/entity/bookFullResponse.yaml
  BookCollectionHeader:
    $ref: ./book_collection/entity/bookCollectionHeader.yaml
  BookCollectionBase:
    $ref: ./book_collection/entity/bookCollectionBase.yaml
  BookCollectionFull:
    $ref: ./book_collection/entity/bookCollectionFull.yaml
  BookCollectionBaseResponse:
    $ref: ./book_collection/entity/bookCollectionBaseResponse.yaml
  BookCollectionFullResponse:
    $ref: ./book_collection/entity/bookCollectionFullResponse.yaml
  BookSeriesHeader:
    $ref: ./book_series/entity/bookSeriesHeader.yaml
  BookSeriesBase:
    $ref: ./book_series/entity/bookSeriesBase.yaml
  BookSeriesFull:
    $ref: ./book_series/entity/bookSeriesFull.yaml
  BookSeriesBaseResponse:
    $ref: ./book_series/entity/bookSeriesBaseResponse.yaml
  BookSeriesFullResponse:
    $ref: ./book_series/entity/bookSeriesFullResponse.yaml
  CharacterHeader:
    $ref: ./character/entity/characterHeader.yaml
  CharacterBase:
    $ref: ./character/entity/characterBase.yaml
  CharacterFull:
    $ref: ./character/entity/characterFull.yaml
  CharacterBaseResponse:
    $ref: ./character/entity/characterBaseResponse.yaml
  CharacterFullResponse:
    $ref: ./character/entity/characterFullResponse.yaml
  CharacterSpecies:
    $ref: ./character/entity/characterSpecies.yaml
  ComicsHeader:
    $ref: ./comics/entity/comicsHeader.yaml
  ComicsBase:
    $ref: ./comics/entity/comicsBase.yaml
  ComicsFull:
    $ref: ./comics/entity/comicsFull.yaml
  ComicsBaseResponse:
    $ref: ./comics/entity/comicsBaseResponse.yaml
  ComicsFullResponse:
    $ref: ./comics/entity/comicsFullResponse.yaml
  ComicCollectionHeader:
    $ref: ./comic_collection/entity/comicCollectionHeader.yaml
  ComicCollectionBase:
    $ref: ./comic_collection/entity/comicCollectionBase.yaml
  ComicCollectionFull:
    $ref: ./comic_collection/entity/comicCollectionFull.yaml
  ComicCollectionBaseResponse:
    $ref: ./comic_collection/entity/comicCollectionBaseResponse.yaml
  ComicCollectionFullResponse:
    $ref: ./comic_collection/entity/comicCollectionFullResponse.yaml
  ComicSeriesHeader:
    $ref: ./comic_series/entity/comicSeriesHeader.yaml
  ComicSeriesBase:
    $ref: ./comic_series/entity/comicSeriesBase.yaml
  ComicSeriesFull:
    $ref: ./comic_series/entity/comicSeriesFull.yaml
  ComicSeriesBaseResponse:
    $ref: ./comic_series/entity/comicSeriesBaseResponse.yaml
  ComicSeriesFullResponse:
    $ref: ./comic_series/entity/comicSeriesFullResponse.yaml
  ComicStripHeader:
    $ref: ./comic_strip/entity/comicStripHeader.yaml
  ComicStripBase:
    $ref: ./comic_strip/entity/comicStripBase.yaml
  ComicStripFull:
    $ref: ./comic_strip/entity/comicStripFull.yaml
  ComicStripBaseResponse:
    $ref: ./comic_strip/entity/comicStripBaseResponse.yaml
  ComicStripFullResponse:
    $ref: ./comic_strip/entity/comicStripFullResponse.yaml
  CompanyBase:
    $ref: ./company/entity/companyBase.yaml
  CompanyFull:
    $ref: ./company/entity/companyFull.yaml
  CompanyHeader:
    $ref: ./company/entity/companyHeader.yaml
  CompanyBaseResponse:
    $ref: ./company/entity/companyBaseResponse.yaml
  CompanyFullResponse:
    $ref: ./company/entity/companyFullResponse.yaml
  EpisodeHeader:
    $ref: ./episode/entity/episodeHeader.yaml
  EpisodeBase:
    $ref: ./episode/entity/episodeBase.yaml
  EpisodeFull:
    $ref: ./episode/entity/episodeFull.yaml
  EpisodeBaseResponse:
    $ref: ./episode/entity/episodeBaseResponse.yaml
  EpisodeFullResponse:
    $ref: ./episode/entity/episodeFullResponse.yaml
  Error:
    $ref: ./common/entity/error.yaml
  FoodHeader:
    $ref: ./food/entity/foodHeader.yaml
  FoodBase:
    $ref: ./food/entity/foodBase.yaml
  FoodFull:
    $ref: ./food/entity/foodFull.yaml
  FoodBaseResponse:
    $ref: ./food/entity/foodBaseResponse.yaml
  FoodFullResponse:
    $ref: ./food/entity/foodFullResponse.yaml
  LiteratureHeader:
    $ref: ./literature/entity/literatureHeader.yaml
  LiteratureBase:
    $ref: ./literature/entity/literatureBase.yaml
  LiteratureFull:
    $ref: ./literature/entity/literatureFull.yaml
  LiteratureBaseResponse:
    $ref: ./literature/entity/literatureBaseResponse.yaml
  LiteratureFullResponse:
    $ref: ./literature/entity/literatureFullResponse.yaml
  LocationHeader:
    $ref: ./location/entity/locationHeader.yaml
  LocationBase:
    $ref: ./location/entity/locationBase.yaml
  LocationFull:
    $ref: ./location/entity/locationFull.yaml
  LocationBaseResponse:
    $ref: ./location/entity/locationBaseResponse.yaml
  LocationFullResponse:
    $ref: ./location/entity/locationFullResponse.yaml
  MagazineHeader:
    $ref: ./magazine/entity/magazineHeader.yaml
  MagazineBase:
    $ref: ./magazine/entity/magazineBase.yaml
  MagazineFull:
    $ref: ./magazine/entity/magazineFull.yaml
  MagazineBaseResponse:
    $ref: ./magazine/entity/magazineBaseResponse.yaml
  MagazineFullResponse:
    $ref: ./magazine/entity/magazineFullResponse.yaml
  MagazineSeriesHeader:
    $ref: ./magazine_series/entity/magazineSeriesHeader.yaml
  MagazineSeriesBase:
    $ref: ./magazine_series/entity/magazineSeriesBase.yaml
  MagazineSeriesFull:
    $ref: ./magazine_series/entity/magazineSeriesFull.yaml
  MagazineSeriesBaseResponse:
    $ref: ./magazine_series/entity/magazineSeriesBaseResponse.yaml
  MagazineSeriesFullResponse:
    $ref: ./magazine_series/entity/magazineSeriesFullResponse.yaml
  MovieHeader:
    $ref: ./movie/entity/movieHeader.yaml
  MovieBase:
    $ref: ./movie/entity/movieBase.yaml
  MovieFull:
    $ref: ./movie/entity/movieFull.yaml
  MovieBaseResponse:
    $ref: ./movie/entity/movieBaseResponse.yaml
  MovieFullResponse:
    $ref: ./movie/entity/movieFullResponse.yaml
  OrganizationHeader:
    $ref: ./organization/entity/organizationHeader.yaml
  OrganizationBase:
    $ref: ./organization/entity/organizationBase.yaml
  OrganizationFull:
    $ref: ./organization/entity/organizationFull.yaml
  OrganizationBaseResponse:
    $ref: ./organization/entity/organizationBaseResponse.yaml
  OrganizationFullResponse:
    $ref: ./organization/entity/organizationFullResponse.yaml
  PerformerHeader:
    $ref: ./performer/entity/performerHeader.yaml
  PerformerBase:
    $ref: ./performer/entity/performerBase.yaml
  PerformerFull:
    $ref: ./performer/entity/performerFull.yaml
  PerformerBaseResponse:
    $ref: ./performer/entity/performerBaseResponse.yaml
  PerformerFullResponse:
    $ref: ./performer/entity/performerFullResponse.yaml
  Reference:
    $ref: ./reference/entity/reference.yaml
  ResponsePage:
    $ref: ./common/entity/responsePage.yaml
  ResponseSort:
    $ref: ./common/entity/responseSort.yaml
  ResponseSortClause:
    $ref: ./common/entity/responseSortClause.yaml
  ResponseSortDirection:
    $ref: ./common/entity/enum/responseSortDirection.yaml
  SeriesHeader:
    $ref: ./series/entity/seriesHeader.yaml
  SeriesBase:
    $ref: ./series/entity/seriesBase.yaml
  SeriesFull:
    $ref: ./series/entity/seriesFull.yaml
  SeriesBaseResponse:
    $ref: ./series/entity/seriesBaseResponse.yaml
  SeriesFullResponse:
    $ref: ./series/entity/seriesFullResponse.yaml
  SpeciesHeader:
    $ref: ./species/entity/speciesHeader.yaml
  SpeciesBase:
    $ref: ./species/entity/speciesBase.yaml
  SpeciesFull:
    $ref: ./species/entity/speciesFull.yaml
  SpeciesBaseResponse:
    $ref: ./species/entity/speciesBaseResponse.yaml
  SpeciesFullResponse:
    $ref: ./species/entity/speciesFullResponse.yaml
  StaffHeader:
    $ref: ./staff/entity/staffHeader.yaml
  StaffBase:
    $ref: ./staff/entity/staffBase.yaml
  StaffFull:
    $ref: ./staff/entity/staffFull.yaml
  StaffBaseResponse:
    $ref: ./staff/entity/staffBaseResponse.yaml
  StaffFullResponse:
    $ref: ./staff/entity/staffFullResponse.yaml
