swagger: '2.0'
info:
  title: STAPI
  version: '1.0.0'
host: stapi.co
schemes:
  - http
basePath: /api/v1/rest
produces:
  - application/json
paths:
  /astronomicalObject:
    $ref: ./astronomicalObject/path/astronomicalObject.path.yaml
  /astronomicalObject/search:
    $ref: ./astronomicalObject/path/astronomicalObjectSearch.path.yaml
  /character:
    $ref: ./character/path/character.path.yaml
  /character/search:
    $ref: ./character/path/characterSearch.path.yaml
  /comics:
    $ref: ./comics/path/comics.path.yaml
  /comics/search:
    $ref: ./comics/path/comicsSearch.path.yaml
  /comicCollection:
    $ref: ./comicCollection/path/comicCollection.path.yaml
  /comicSeries:
    $ref: ./comicSeries/path/comicSeries.path.yaml
  /comicSeries/search:
    $ref: ./comicSeries/path/comicSeriesSearch.path.yaml
  /comicStrip:
    $ref: ./comicStrip/path/comicStrip.path.yaml
  /company:
    $ref: ./company/path/company.path.yaml
  /company/search:
    $ref: ./company/path/companySearch.path.yaml
  /episode:
    $ref: ./episode/path/episode.path.yaml
  /episode/search:
    $ref: ./episode/path/episodeSearch.path.yaml
  /movie:
    $ref: ./movie/path/movie.path.yaml
  /movie/search:
    $ref: ./movie/path/movieSearch.path.yaml
  /performer:
    $ref: ./performer/path/performer.path.yaml
  /performer/search:
    $ref: ./performer/path/performerSearch.path.yaml
  /series:
    $ref: ./series/path/series.path.yaml
  /series/search:
    $ref: ./series/path/seriesSearch.path.yaml
  /species:
    $ref: ./species/path/species.path.yaml
  /staff:
    $ref: ./staff/path/staff.path.yaml
  /staff/search:
    $ref: ./staff/path/staffSearch.path.yaml
definitions:
  AstronomicalObjectHeader:
    $ref: ./astronomicalObject/entity/astronomicalObjectHeader.yaml
  AstronomicalObjectBase:
    $ref: ./astronomicalObject/entity/astronomicalObjectBase.yaml
  AstronomicalObjectFull:
    $ref: ./astronomicalObject/entity/astronomicalObjectFull.yaml
  AstronomicalObjectBaseResponse:
    $ref: ./astronomicalObject/entity/astronomicalObjectBaseResponse.yaml
  AstronomicalObjectFullResponse:
    $ref: ./astronomicalObject/entity/astronomicalObjectFullResponse.yaml
  CharacterHeader:
    $ref: ./character/entity/characterHeader.yaml
  CharacterBase:
    $ref: ./character/entity/characterBase.yaml
  CharacterFull:
    $ref: ./character/entity/characterFull.yaml
  CharacterBaseResponse:
    $ref: ./character/entity/characterBaseResponse.yaml
  CharacterFullResponse:
    $ref: ./character/entity/characterFullResponse.yaml
  CharacterSpecies:
    $ref: ./character/entity/characterSpecies.yaml
  ComicsHeader:
    $ref: ./comics/entity/comicsHeader.yaml
  ComicsBase:
    $ref: ./comics/entity/comicsBase.yaml
  ComicsFull:
    $ref: ./comics/entity/comicsFull.yaml
  ComicsBaseResponse:
    $ref: ./comics/entity/comicsBaseResponse.yaml
  ComicsFullResponse:
    $ref: ./comics/entity/comicsFullResponse.yaml
  ComicCollection:
    $ref: ./comicCollection/entity/comicCollection.yaml
  ComicCollectionHeader:
    $ref: ./comicCollection/entity/comicCollectionHeader.yaml
  ComicCollectionResponse:
    $ref: ./comicCollection/entity/comicCollectionResponse.yaml
  ComicSeriesHeader:
    $ref: ./comicSeries/entity/comicSeriesHeader.yaml
  ComicSeriesBase:
    $ref: ./comicSeries/entity/comicSeriesBase.yaml
  ComicSeriesFull:
    $ref: ./comicSeries/entity/comicSeriesFull.yaml
  ComicSeriesBaseResponse:
    $ref: ./comicSeries/entity/comicSeriesBaseResponse.yaml
  ComicSeriesFullResponse:
    $ref: ./comicSeries/entity/comicSeriesFullResponse.yaml
  ComicStrip:
    $ref: ./comicStrip/entity/comicStrip.yaml
  ComicStripHeader:
    $ref: ./comicStrip/entity/comicStripHeader.yaml
  ComicStripResponse:
    $ref: ./comicStrip/entity/comicStripResponse.yaml
  CompanyBase:
    $ref: ./company/entity/companyBase.yaml
  CompanyFull:
    $ref: ./company/entity/companyFull.yaml
  CompanyHeader:
    $ref: ./company/entity/companyHeader.yaml
  CompanyBaseResponse:
    $ref: ./company/entity/companyBaseResponse.yaml
  CompanyFullResponse:
    $ref: ./company/entity/companyFullResponse.yaml
  EpisodeHeader:
    $ref: ./episode/entity/episodeHeader.yaml
  EpisodeBase:
    $ref: ./episode/entity/episodeBase.yaml
  EpisodeFull:
    $ref: ./episode/entity/episodeFull.yaml
  EpisodeBaseResponse:
    $ref: ./episode/entity/episodeBaseResponse.yaml
  EpisodeFullResponse:
    $ref: ./episode/entity/episodeFullResponse.yaml
  Error:
    $ref: ./common/entity/error.yaml
  MovieHeader:
    $ref: ./movie/entity/movieHeader.yaml
  MovieBase:
    $ref: ./movie/entity/movieBase.yaml
  MovieFull:
    $ref: ./movie/entity/movieFull.yaml
  MovieBaseResponse:
    $ref: ./movie/entity/movieBaseResponse.yaml
  MovieFullResponse:
    $ref: ./movie/entity/movieFullResponse.yaml
  PerformerHeader:
    $ref: ./performer/entity/performerHeader.yaml
  PerformerBase:
    $ref: ./performer/entity/performerBase.yaml
  PerformerFull:
    $ref: ./performer/entity/performerFull.yaml
  PerformerBaseResponse:
    $ref: ./performer/entity/performerBaseResponse.yaml
  PerformerFullResponse:
    $ref: ./performer/entity/performerFullResponse.yaml
  Reference:
    $ref: ./reference/entity/reference.yaml
  ResponsePage:
    $ref: ./common/entity/responsePage.yaml
  SeriesHeader:
    $ref: ./series/entity/seriesHeader.yaml
  SeriesBase:
    $ref: ./series/entity/seriesBase.yaml
  SeriesFull:
    $ref: ./series/entity/seriesFull.yaml
  SeriesBaseResponse:
    $ref: ./series/entity/seriesBaseResponse.yaml
  SeriesFullResponse:
    $ref: ./series/entity/seriesFullResponse.yaml
  Species:
    $ref: ./species/entity/species.yaml
  SpeciesHeader:
    $ref: ./species/entity/speciesHeader.yaml
  SpeciesResponse:
    $ref: ./species/entity/speciesResponse.yaml
  StaffHeader:
    $ref: ./staff/entity/staffHeader.yaml
  StaffBase:
    $ref: ./staff/entity/staffBase.yaml
  StaffFull:
    $ref: ./staff/entity/staffFull.yaml
  StaffBaseResponse:
    $ref: ./staff/entity/staffBaseResponse.yaml
  StaffFullResponse:
    $ref: ./staff/entity/staffFullResponse.yaml
