swagger: '2.0'
info:
  title: STAPI
  version: '1.0.0'
host: stapi.co
schemes:
  - http
basePath: /api/v1/rest
produces:
  - application/json
paths:
  /astronomicalObject:
    $ref: ./astronomicalObject/path/astronomicalObject.path.yaml
  /astronomicalObject/search:
    $ref: ./astronomicalObject/path/astronomicalObjectSearch.path.yaml
  /character:
    $ref: ./character/path/character.path.yaml
  /comics:
    $ref: ./comics/path/comics.path.yaml
  /comicCollection:
    $ref: ./comicCollection/path/comicCollection.path.yaml
  /comicSeries:
    $ref: ./comicSeries/path/comicSeries.path.yaml
  /comicStrip:
    $ref: ./comicStrip/path/comicStrip.path.yaml
  /company:
    $ref: ./company/path/company.path.yaml
  /company/search:
    $ref: ./company/path/companySearch.path.yaml
  /episode:
    $ref: ./episode/path/episode.path.yaml
  /movie:
    $ref: ./movie/path/movie.path.yaml
  /performer:
    $ref: ./performer/path/performer.path.yaml
  /performer/search:
    $ref: ./performer/path/performerSearch.path.yaml
  /series:
    $ref: ./series/path/series.path.yaml
  /series/search:
    $ref: ./series/path/seriesSearch.path.yaml
  /species:
    $ref: ./species/path/species.path.yaml
  /staff:
    $ref: ./staff/path/staff.path.yaml
  /staff/search:
    $ref: ./staff/path/staffSearch.path.yaml
definitions:
  AstronomicalObjectHeader:
    $ref: ./astronomicalObject/entity/astronomicalObjectHeader.yaml
  AstronomicalObjectBase:
    $ref: ./astronomicalObject/entity/astronomicalObjectBase.yaml
  AstronomicalObjectFull:
    $ref: ./astronomicalObject/entity/astronomicalObjectFull.yaml
  AstronomicalObjectBaseResponse:
    $ref: ./astronomicalObject/entity/astronomicalObjectBaseResponse.yaml
  AstronomicalObjectFullResponse:
    $ref: ./astronomicalObject/entity/astronomicalObjectFullResponse.yaml
  Character:
    $ref: ./character/entity/character.yaml
  CharacterHeader:
    $ref: ./character/entity/characterHeader.yaml
  CharacterResponse:
    $ref: ./character/entity/characterResponse.yaml
  CharacterSpecies:
    $ref: ./character/entity/characterSpecies.yaml
  Comics:
    $ref: ./comics/entity/comics.yaml
  ComicsHeader:
    $ref: ./comics/entity/comicsHeader.yaml
  ComicsResponse:
    $ref: ./comics/entity/comicsResponse.yaml
  ComicCollection:
    $ref: ./comicCollection/entity/comicCollection.yaml
  ComicCollectionHeader:
    $ref: ./comicCollection/entity/comicCollectionHeader.yaml
  ComicCollectionResponse:
    $ref: ./comicCollection/entity/comicCollectionResponse.yaml
  ComicSeries:
    $ref: ./comicSeries/entity/comicSeries.yaml
  ComicSeriesHeader:
    $ref: ./comicSeries/entity/comicSeriesHeader.yaml
  ComicSeriesResponse:
    $ref: ./comicSeries/entity/comicSeriesResponse.yaml
  ComicStrip:
    $ref: ./comicStrip/entity/comicStrip.yaml
  ComicStripHeader:
    $ref: ./comicStrip/entity/comicStripHeader.yaml
  ComicStripResponse:
    $ref: ./comicStrip/entity/comicStripResponse.yaml
  CompanyBase:
    $ref: ./company/entity/companyBase.yaml
  CompanyFull:
    $ref: ./company/entity/companyFull.yaml
  CompanyHeader:
    $ref: ./company/entity/companyHeader.yaml
  CompanyBaseResponse:
    $ref: ./company/entity/companyBaseResponse.yaml
  CompanyFullResponse:
    $ref: ./company/entity/companyFullResponse.yaml
  Episode:
    $ref: ./episode/entity/episode.yaml
  EpisodeHeader:
    $ref: ./episode/entity/episodeHeader.yaml
  EpisodeResponse:
    $ref: ./episode/entity/episodeResponse.yaml
  Error:
    $ref: ./common/entity/error.yaml
  Movie:
    $ref: ./movie/entity/movie.yaml
  MovieHeader:
    $ref: ./movie/entity/movieHeader.yaml
  MovieResponse:
    $ref: ./movie/entity/movieResponse.yaml
  PerformerHeader:
    $ref: ./performer/entity/performerHeader.yaml
  PerformerBase:
    $ref: ./performer/entity/performerBase.yaml
  PerformerFull:
    $ref: ./performer/entity/performerFull.yaml
  PerformerBaseResponse:
    $ref: ./performer/entity/performerBaseResponse.yaml
  PerformerFullResponse:
    $ref: ./performer/entity/performerFullResponse.yaml
  Reference:
    $ref: ./reference/entity/reference.yaml
  ResponsePage:
    $ref: ./common/entity/responsePage.yaml
  SeriesHeader:
    $ref: ./series/entity/seriesHeader.yaml
  SeriesBase:
    $ref: ./series/entity/seriesBase.yaml
  SeriesFull:
    $ref: ./series/entity/seriesFull.yaml
  SeriesBaseResponse:
    $ref: ./series/entity/seriesBaseResponse.yaml
  SeriesFullResponse:
    $ref: ./series/entity/seriesFullResponse.yaml
  Species:
    $ref: ./species/entity/species.yaml
  SpeciesHeader:
    $ref: ./species/entity/speciesHeader.yaml
  SpeciesResponse:
    $ref: ./species/entity/speciesResponse.yaml
  StaffHeader:
    $ref: ./staff/entity/staffHeader.yaml
  StaffBase:
    $ref: ./staff/entity/staffBase.yaml
  StaffFull:
    $ref: ./staff/entity/staffFull.yaml
  StaffBaseResponse:
    $ref: ./staff/entity/staffBaseResponse.yaml
  StaffFullResponse:
    $ref: ./staff/entity/staffFullResponse.yaml
