<div class='api-browser container content'>
	<info [message]="getInfo()"></info>
	<div class="row">
		<div class="api-browser__search">
			<form role="search" class="form-horizontal" (ngSubmit)="submit($event)" #searchForm="ngForm">
				<div class="col-md-5">
					<input type="text" class="form-control" placeholder="Search the API" [disabled]="this.isDisabled()"
							[(ngModel)]="phrase" name="phrase"/>
				</div>
				<div class="col-md-5">
					<select class="form-control" [disabled]="isDisabled()" [(ngModel)]="symbol" name="symbol" *ngIf="loaded">
						<option *ngFor="let option of getOptions()" [ngValue]="option.symbol">{{option.name}}</option>
					</select>
				</div>
				<div class="col-md-2">
					<button type="submit" class="btn btn-primary api-browser__submit" [disabled]="isDisabled()">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="api-browser__response-data alert" *ngIf="hasContent()"
				[ngClass]="{'alert-success': hasElements(), 'alert-warning': !hasElements()}">
					<span *ngIf="hasLimits()" class="api-browser__limits">
						<span class="api-browser__remaining">{{this.limits.remaining}}</span> requests of {{this.limits.total}} left
					</span>
					<span>Searched for phrase
						<span class="api-browser__phrase-result">{{latestLookupPhrase}}</span>.
					</span>
					There were <span>{{getTotalResults()}}</span> result.
					<span *ngIf="hasMoreThanLimitResults()"> First 50 are shown.</span>
			</div>
			<div className="api-browser__response_data alert alert-danger" *ngIf="hasError()">
				<span>
					There was an error. Details bellow.
				</span>
			</div>
			<div class="api-browser__response" *ngIf="hasElements()">
				<ul *ngFor="let item of getContent(); let last = last">
					<li *ngFor="let property of getProperties(item)" class="api-browser__level-0">
						<span *ngIf="isQualifiedItemProperty(property)">
							<span class="api-browser__label">{{property.key}}:&nbsp;</span>
							<span *ngIf="valueIsScalar(property.value)">
								{{property.value}}
							</span>
							<ul *ngIf="!valueIsScalar(property.value)">
								<div class="api-browser__level-wrapper" *ngIf="!valueIsScalar(property.value)">
									<li *ngFor="let childProperty of getProperties(property.value)" class="api-browser__level-1">
										<span *ngIf="isQualifiedItemProperty(childProperty)">
											<span *ngIf="valueIsScalar(childProperty.value)">
												<span class="api-browser__label">{{childProperty.key}}:&nbsp;</span>{{childProperty.value}}
											</span>
										</span>
									</li>
								</div>
							</ul>
						</span>
					</li>
					<li class="api-browser__separator" *ngIf="!last"></li>
				</ul>
			</div>
		</div>
	</div>
</div>
