.gradle
.idea
data/
build/
logs/
node_modules
model/**/*_.java
stapi.iml
**/lombok.config
docker/build.log
server/src/main/resources/application-stapi-custom.properties
server/src/integrationTest/resources/application-test.properties
server/src/main/generated/com/cezarykluczynski/stapi/server/
client/.openapi-generator/
