<div>
	<div class="row">
		<div class="col-md-9">
			<h3>API keys</h3>
		</div>
		<div class="col-md-3">
			<h3><button class="btn btn-success btn-sm pull-right" (click)="createApiKey()">Create API key</button></h3>
		</div>
	</div>
	<ul class="list-group" *ngIf="hasApiKeys()">
		<li class="list-group-item" *ngFor="let apiKey of getApiKeys()">
			<div *ngIf="!removingApiKey(apiKey.id)">
				<button class="btn btn-primary btn-sm pull-right panel-api-keys__edit" (click)="openApiKeyEdit(apiKey.id)">Edit</button>
				<button class="btn btn-danger btn-sm pull-right" (click)="askForApiKeyRemoval(apiKey.id)">Remove</button>
				<h4><span class="label label-default">{{apiKey.apiKey}}</span></h4>
				<small>
					Limit: <strong>{{apiKey.limit}}</strong>, remaining hits: <strong>{{apiKey.remaining}}</strong>, blocked: <span>{{apiKey.blocked}}</span>
				</small>
			</div>
			<div *ngIf="removingApiKey(apiKey.id)">
				Are you sure you want to remove this key? This action cannot be reverted, meaning that the same key cannot be recreated. All
				application using this key will be treated as not authenticated. Remove key now?
				<br>
				<button class="btn btn-danger btn-sm" (click)="removeApiKey(apiKey.id)">Yes, remove this key</button>
				<button class="btn btn-primary btn-sm" (click)="doNotRemoveApiKey(apiKey.id)">No, do not remove this key</button>
			</div>
			<div *ngIf="editingApiKey(apiKey.id)">
				<hr>
				Optionally, you can provide details on what this API key is used for, and URL of application, project page, or GitHub repository
				that uses this API key. This might help understand the nature of traffic coming from you
				<br>
				<br>
				<form class="panel-api-keys__key-edit">
					<div class="form-group">
						<label>URL</label>
						<input type="text" class="form-control" [(ngModel)]="apiKeyDetails[apiKey.id].url" name="url">
					</div>

					<div class="form-group">
						<label>Description</label>
						<textarea class="form-control" [(ngModel)]="apiKeyDetails[apiKey.id].description" name="description"></textarea>
					</div>
					<button class="btn btn-success btn-sm" (click)="updateApiKey(apiKey.id)">Save</button>
					<button class="btn btn-warning btn-sm" (click)="closeApiKeyEdit(apiKey.id)">Cancel</button>
				</form>
			</div>
		</li>
	</ul>
	<div *ngIf="!hasApiKeys()">
		No API keys.
	</div>
</div>
