<div class='about container content'>
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<h3>The beginning</h3>
			<p>
				STAPI, a Star Trek API, was started in October 2016 by <a
				href="https://cezarykluczynski.com/">Cezary Kluczyński</a>. It was inspired by two projects: <a
				href="https://pokeapi.co/">Pokéapi</a> and <a href="https://swapi.dev/">SWAPI, The Star Wars API</a>,
				both made by <a href="https://github.com/phalt">Paul Hallett</a>.
			</p>
			<p>
				Initially, STAPI was just a research project. It aim was to check if building an API using Memory Alpha
				as a primary source of data is possible. Is it turned out, it was possible.
			</p>

			<h3>REST and SOAP</h3>
			<p>
				A second goal was to put out two versions of API, SOAP and REST. It been so since the project started.
				In 2022, SOAP API was deprecated and no longer received model updates, and in 2023 it was removed,
				due to the fact that nobody was using it.
			</p>

			<h3>Tech stack</h3>
			<p>
				STAPI was started with Java 8 and Spring Boot 1.5, but has since moved to in Java 17 and Spring Boot 3.x.
				It's a fairly common tech stack.
				<a href="https://github.com/cezarykluczynski/stapi/wiki/Contributing">Contributions</a> to STAPI
				are most welcome.
			</p>

			<h3>Alpha version</h3>
			<p>
				In the end of may 2017 an alpha version of STAPI has been put online. It contained 19 models,
				like locations, books, and astronomical objects. There was over 23000 entities initially available,
				including almost 6000 characters and more than 5000 performers.
			</p>
			<p>
				At the end od 2017, the initial development phase ceased,
				and more than 56000 entities are being served from that point.
			</p>

			<h3>Beta version</h3>
			<p>
				STAPI was marked as beta version in May 2018. From now on, it entered a stabilization period
				during which no changes to existing API model are planned. As with any beta version, bugs can happen,
				and should be <a href="https://github.com/cezarykluczynski/stapi/issues">reported on GitHub</a>.
			</p>
			<p>
				At the end of 2022, STAPI received a major model update, with 16 model getting a version 2 of the REST API.
				It also received a data update, with content from new series and everything else that happened since 2017.
			</p>
		</div>
	</div>
</div>
