<div class='about container content'>
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<h3>The beginning</h3>
			<p>
				STAPI, a Star Trek API, was started in October 2016 by <a
				href="https://cezarykluczynski.com/">Cezary Kluczyński</a>. It was inspired by two projects: <a
				href="https://pokeapi.co/">Pokéapi</a> and <a href="https://swapi.co/">SWAPI, The Star Wars API</a>,
				both made by <a href="http://phalt.co/">Paul Hallett</a>.
			</p>
			<p>
				Initially, STAPI was just a research project. It aim was to check if building an API using Memory Alpha
				as a primary source of data is possible. Is it turned out, it was possible.
			</p>

			<h3>REST and SOAP</h3>
			<p>
				A second goal was to put out two versions of API, SOAP and REST. It been so since the project started.
			</p>

			<h3>Technologial stack</h3>
			<p>
				STAPI is written in Java and Groovy, using Spring as a primary framework. It's a fairly common technological stack.
				<a href="https://github.com/cezarykluczynski/stapi/wiki/Contributing">Contributions</a> to STAPI
				are most welcome.
			</p>

			<h3>Alpha version</h3>
			<p>
				In the end of may 2017 an alpha version of STAPI has been put online. It contained 19 models,
				like locations, books, and astronomical objects. There was over 23000 entities initially available,
				including almost 6000 characters and more than 5000 performers. At the end od 2017, the initial
				development phase ceased, and more than 56000 entities are being served from that point.
			</p>

			<h3>Beta version</h3>
			<p>
				STAPI was marked as beta version in May 2018. From now on, it entered a stabilization period
				during which no changes to API model are planned. As with any beta version, bugs can happen,
				and should be reported at <a href="https://github.com/cezarykluczynski/stapi/issues">GitHub</a>.
			</p>
		</div>
	</div>
</div>
