<div class='container content account-panel'>
	<div class="row" *ngIf="isAuthenticated()">
		<div class="col-md-3">
			<ul class="list-group">
				<li class="list-group-item account-panel__name">Hello, <span>{{getName()}}</span>!</li>
			</ul>

			<ul class="list-group">
				<li class="list-group-item account-panel__section-selector" [ngClass]="{'active': apiKeysIsVisible()}"
					(click)="showApiKeys()">API keys</li>
				<li class="list-group-item account-panel__section-selector" [ngClass]="{'active': accountSettingsIsVisible()}"
					(click)="showAccountSettings()">Account settings</li>
				<li class="list-group-item account-panel__section-selector" [ngClass]="{'active': adminApiKeysIsVisible()}"
					(click)="showAdminApiKeys()" *ngIf="hasAdminManagementPermission()">(Admin) API keys</li>
				<li class="list-group-item account-panel__section-selector" [ngClass]="{'active': adminAccountsIsVisible()}"
					(click)="showAdminAccounts()" *ngIf="hasAdminManagementPermission()">(Admin) Accounts</li>

			</ul>
		</div>
		<div class="col-md-9">
			<panel-api-keys *ngIf="apiKeysIsVisible()"></panel-api-keys>
			<panel-account-settings *ngIf="accountSettingsIsVisible()" [basicData]="basicData"></panel-account-settings>
			<panel-admin-api-keys *ngIf="adminApiKeysIsVisible()"></panel-admin-api-keys>
			<panel-admin-accounts *ngIf="adminAccountsIsVisible()"></panel-admin-accounts>
		</div>
	</div>
	<div class="row" *ngIf="isAuthenticationRequired()">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Authentication required</h3>
				</div>
				<div class="panel-body">
					<p>
						You are currently <b>not logged in</b>. To use panel to manage API keys, you have to be logged in.
					</p>
					<p>
						You can authenticate using GitHub. Only basic information from GitHub will be required.
					</p>
					<p>
						You can later remove your account from STAPI, and it will be deleted along with your personal data and API keys.
					</p>
					<p>
						If you already logged in to STAPI, authenticate again to get access to your account.
					</p>
					<br>
					<p>
						<label><input type="checkbox" name="hasLegalConsents" (change)="consentChange($event)" class="legal-consents-checkbox">
							I agree to the <a routerLink="terms-of-service">Terms of Service</a> and <a routerLink="privacy-policy">Privacy Policy</a>.
						</label>
					</p>
					<br>
					<p>
						<button class="panel-github-authenticate btn btn-success btn-md" (click)="redirectToOAuth()"
						[disabled]="buttonIsDisabled()" role="button">{{getButtonLabel()}}</button>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
