<div>
	<ul class="list-group" *ngIf="hasApiKeys()">
		<li class="list-group-item" *ngFor="let apiKey of getApiKeys()">

			<div>
				<button class="btn btn-danger btn-sm pull-right" *ngIf="!apiKey.blocked" (click)="blockApiKey(apiKey.accountId, apiKey.id)">Block</button>
				<button class="btn btn-primary btn-sm pull-right" *ngIf="apiKey.blocked" (click)="unblockApiKey(apiKey.accountId, apiKey.id)">Unblock</button>
				<h4><span class="label label-default">{{apiKey.apiKey}}</span></h4>
				<small>
					Limit: <strong>{{apiKey.limit}}</strong>, remaining hits: <strong>{{apiKey.remaining}}</strong>
				</small>
			</div>
		</li>
	</ul>

	<div>
		<ngb-pagination [collectionSize]="pager.totalElements" [pageSize]="pager.pageSize" [(page)]="pager.pageNumber" (pageChange)="loadApiKeys()"></ngb-pagination>
	</div>
</div>
