<div>
	<form>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label>Name</label>
					<input class="form-control" [(ngModel)]="searchCriteria.name" name="name">
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group">
					<label>Email</label>
					<input class="form-control" [(ngModel)]="searchCriteria.email" name="email">
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group">
					<label>API key</label>
					<input class="form-control" [(ngModel)]="searchCriteria.apiKey" name="apiKey">
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group">
					<label>Account ID</label>
					<input class="form-control" [(ngModel)]="searchCriteria.accountId" name="accountId">
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group">
					<label>GitHub account ID</label>
					<input class="form-control" [(ngModel)]="searchCriteria.gitHubAccountId" name="gitHubAccountId">
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group">
					<label>&nbsp;</label>
					<button type="submit" class="btn btn-primary form-control" (click)="search($event)">Search</button>
				</div>
			</div>
		</div>

	</form>

	<div>
		<ngb-pagination [collectionSize]="pager.totalElements" [pageSize]="pager.pageSize" [(page)]="pager.pageNumber" (pageChange)="loadApiKeys()"></ngb-pagination>
	</div>

	<ul class="list-group" *ngIf="hasApiKeys()">
		<li class="list-group-item" *ngFor="let apiKey of getApiKeys()">

			<div>
				<button class="btn btn-danger btn-sm pull-right" *ngIf="!apiKey.blocked" (click)="blockApiKey(apiKey.accountId, apiKey.id)">Block</button>
				<button class="btn btn-primary btn-sm pull-right" *ngIf="apiKey.blocked" (click)="unblockApiKey(apiKey.accountId, apiKey.id)">Unblock</button>
				<h4><span class="label label-default">{{apiKey.apiKey}}</span></h4>
				<small>
					Limit: <strong>{{apiKey.limit}}</strong>, remaining hits: <strong>{{apiKey.remaining}}</strong>,
					account ID: <strong>{{apiKey.accountId}}</strong>
				</small>
			</div>
		</li>
	</ul>
</div>
