<div class='container content licensing'>
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<h3>Java</h3>
			<p>
				<a href="https://github.com/cezarykluczynski/stapi/wiki/Java-client">Java client</a>
				is part of the <a href="https://github.com/cezarykluczynski/stapi">repository that hosts STAPI</a>.
				It can be found in <a href="https://mvnrepository.com/artifact/com.cezarykluczynski.stapi/stapi-client">Maven Central</a>.
			</p>

			<h3>Python</h3>
			<p>
				<a href="https://github.com/mklucz/stapi-python">stapi-python</a> is hosted on Github
				and available in <a href="https://pypi.org/project/stapi/">pip</a>.
			</p>

			<h3>Ruby</h3>
			<p>
				<a href="https://github.com/jjuliano/tricorder">tricorder</a> is hosted on GitHub and available in
				<a href="https://rubygems.org/gems/tricorder/versions/0.1.0">RubyGems</a>.
			</p>

			<h3>C#</h3>
			<p>
				Meteorite.Stapi.Core is available in
				<a href="https://www.nuget.org/packages/Meteorite.Stapi.Core">NuGet</a>.
			</p>
		</div>
	</div>
</div>
