<div class='container content home'>
	<div class='row'>
		<div class='col-md-6'>
			<h2>Welcome to STAPI, a Star Trek API!</h2>
			<h3>But what is it, really?</h3>
			<ul>
				<li>It's the first public Star Trek API, accessible via REST and SOAP.</li>
				<li>It's an open source project, that anyone can <a
					href="https://github.com/cezarykluczynski/stapi/wiki/Contributing">contribute to</a>.</li>
				<li>STAPI is now a beta version. The API model is considered stable at this point.</li>
			</ul>

			<h3>How it works?</h3>
			<ul>
				<li>STAPI uses publicly available sources, mainly <a href="http://memory-alpha.wikia.com/">Memory Alpha</a>,
					to get its data.</li>
				<li>Data is cleansed, standardized and put into relational model.</li>
				<li>API can be browsed by anyone, even right now, using <a routerLink="api-browser">API Browser</a>.</li>
				<li>SOAP contracts and Swagger specifications can be <a routerLink="api-documentation">downloaded</a>.</li>
				<li>STAPI is written in Java, with tests written in Groovy.</li>
				<li><a href="https://github.com/cezarykluczynski/stapi/wiki/Clients">Clients</a> are available
					in several languages.</li>
			</ul>

			<h3>Learn more!</h3>
			<ul>
				<li>Read the <a routerLink="about">about</a> page.</li>
				<li>Browse the <a routerLink="api-documentation">API documentation</a>.</li>
				<li>Browse the <a href="https://github.com/cezarykluczynski/stapi/wiki">project documentation</a>.</li>
			</ul>
		</div>
		<div class='col-md-6'>
			<entity-statistics-cloud></entity-statistics-cloud>
		</div>
	</div>
</div>
