<div class='container content home'>
	<div class='row'>
		<div class='col-md-6'>
			<h2>Welcome to STAPI, a Star Trek API!</h2>
			<h3>What is it</h3>
			<ul>
				<li>STAPI is the first public Star Trek API, accessible via REST.</li>
				<li>STAPI serves a read-only model of all things Star Trek, including characters, performers,
					species, episodes, spacecrafts, books, astronomical objects, video releases, and more.
				</li>
				<li>STAPI is an open source project, that anyone can <a
					href="https://github.com/cezarykluczynski/stapi/wiki/Contributing">contribute to</a>.</li>
				<li>STAPI is now in beta version. The API model is considered stable at this point,
					and when it is evolving, it is evolving in a non-breaking manner, using API versioning.</li>
			</ul>

			<h3>How it works</h3>
			<ul>
				<li>STAPI uses publicly available sources, mainly <a href="https://memory-alpha.fandom.com/">Memory Alpha</a>,
					to get its data, but it also uses <a href="http://www.startrekcards.com/">Star Trek Cards</a>
					and <a href="https://memory-beta.fandom.com/">Memory Beta</a>.</li>
				<li>Data is cleansed, standardized and put into relational model.</li>
				<li>API is publicly available via REST, and can be browsed using an <a routerLink="api-browser">API Browser</a>.</li>
				<li>Swagger specs can be <a routerLink="api-documentation">downloaded</a>.</li>
				<li>STAPI is written in Java, with tests written in Groovy, and frontend written in TypeScript.</li>
				<li><a routerLink="clients">Clients</a> are available in several languages.</li>
			</ul>

			<h3>Learn more</h3>
			<ul>
				<li>Read the <a routerLink="about">about</a> page to learn about the development history.</li>
				<li>Browse the <a href="https://github.com/cezarykluczynski/stapi/wiki">project documentation</a>.</li>
			</ul>
		</div>
		<div class='col-md-6'>
			<app-entity-statistics-cloud></app-entity-statistics-cloud>
		</div>
	</div>
</div>
