<div class='api-overview container content'>
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<p>
				This pages describes how to quickly start using STAPI, without caring much for contracts. If you plan on integrating STAPI
				into a larger codebase, it would be best to use contracts to generate your client, or to use one of the existing
				<a routerLink="/clients">clients</a>.
			</p>
			<h3>Limits</h3>
			<p>
				Currently there are no enforced limits on STAPI usage.
				Please consider however that this is a pet project and is not supported by a major infrastructure, so be reasonable using it.
			</p>

			<h3>API keys</h3>
			<p>
				API keys were supported in the past, but support for them was dropped. If your client expects them, just use null or empty string.
				Non-null API keys will be ignored anyway.
			</p>

			<h3>API layout</h3>
			<p>For people just wanting to quick jump into using STAPI, REST version is the best choice.
				Every entity in the API has two REST endpoints per version (V1 or V2),
				one for searching and one for retrieving an entire entity, along with entities related to it.
				Available endpoints are listed on <a href="/api/">this page</a> on the bottom,
				in <em>Available RESTful services</em> section.
			</p>

			<h3>Example requests</h3>
			<h4>Listing</h4>
			<p>
				Take, for example, the Season entity. To get all seasons, one should call this URL:
				<a href="/api/v1/rest/season/search">/api/v1/rest/season/search</a>.
			</p>

			<h4>Searching</h4>
			<p>
				Similar to listing entities, sending POST request to the same URL,
				<a href="/api/v1/rest/season/search">/api/v1/rest/season/search</a>,
				allows searching for entities using predefined criteria. Criteria that can be used for searching can be found in
				<a routerLink="/api-documentation">API documentation</a>.
			</p>

			<p>
				When searching STAPI, remember to send POST requests as <strong>application/x-www-form-urlencoded</strong>.
			</p>

			<h4>Single entity</h4>
			<p>
				Single entities can also be retrieved, using previously obtained UID.
				UIDs rarely change over time, but when you store them, they could be no good in a few years time.
				UIDs are generated based on Memory Alpha and Memory Beta unique page IDs, so when wiki pages gets moved, it's ID can change.
			</p>
			<p>
				After searching for seasons, you will find that season one of The Next Generation happens to have UID SAMA0000001633.
				So another call to the API renders details about this season, as well as all episodes from this season:
				<a href="/api/v1/rest/season?uid=SAMA0000001633">/api/v1/rest/season?uid=SAMA0000001633</a>.
			</p>

			<h4>Tips</h4>
			<ul>
				<li>You can prepend <code>pretty</code> to any REST request URL to pretty print JSON, for example:
					<a href="/api/v1/rest/season?uid=SAMA0000001633&pretty">/api/v1/rest/season?uid=SAMA0000001633&pretty</a>.
				</li>
			</ul>
		</div>
	</div>
</div>
