<div>
	<h3>Personal information</h3>
	<div>
		<form>
			<div class="form-group">
				<label>Name</label>
				<input type="text" class="form-control" [(ngModel)]="basicDataEditable.name" name="name" required>
			</div>

			<div class="form-group">
				<label>E-mail</label>
				<input type="email" class="form-control" [(ngModel)]="basicDataEditable.email" name="email" required>
			</div>
			<br>
			<button type="submit" class="btn btn-success" (click)="updateBasicData()">Save</button>
		</form>
	</div>

	<hr>

	<h3>Subscriptions</h3>

	<form *ngIf="hasConsentsLoaded()">
		<div *ngFor="let consent of getConsents()">
			<div class="input-group">
				<div class="row">
					<div class="col-md-1">
						<span class="input-group-addon">
							<input type="checkbox" [(ngModel)]="selectedConsents[consent.code]" name="{{consent.code}}">
						</span>
					</div>
					<div class="col-md-11">
						{{ getConsentDescription(consent.code) }}
					</div>
				</div>
			</div>
			<br>
			<button type="submit" class="btn btn-success" (click)="updateOwnConsents()">Save</button>
		</div>
	</form>

	<hr>

	<h3>Remove account</h3>

	<div *ngIf="!isAccountBeingRemoved()">
		You can remove your account along with you API keys. This action cannot be reverted.
		<br>
		<br>
		<button class="btn btn-danger btn-sm" (click)="askForAccountRemoval()">Remove my account</button>
	</div>
	<div *ngIf="isAccountBeingRemoved()">
		Are you sure you want to remove you account? This action cannot be reverted. This will also delete your
		API keys, and those same keys cannot be recreated.All application using this key will be treated
		as not authenticated. Remove you account along with your keys now?
		<br>
		<br>
		<button class="btn btn-danger btn-sm" (click)="removeAccount()">Yes, remove my account</button>
		<button class="btn btn-primary btn-sm" (click)="cancelAccountRemoval()">No, do not remove my account</button>
	</div>
</div>
