.api-documentation
	width: 96%
	margin-left: 2%

.api-documentation__files-contents
	margin-top: 2em

.api-documentation__listed-file
	cursor: pointer

.api-documentation .alert-success a
	color: black

.api-documentation__files-contents pre
	margin-top: 0
	background-color: transparent
	color: #eee
	border: none
	border-radius: 0
	font-size: 1em
	padding: 0

.api-documentation__files-contents pre code
	tab-size: 4
