swagger: '2.0'
info:
  title: STAPI
  version: '0.1.2-SNAPSHOT'
host: stapi.co
schemes:
  - https
  - http
basePath: /api
produces:
  - application/json
paths:
  /v1/rest/animal:
    get:
      description: Retrival of a single animal
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Animal unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AnimalFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Animal
  /v1/rest/animal/search:
    get:
      description: Pagination over animals
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AnimalBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Animal
    post:
      description: Searching animals
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: name
          in: formData
          type: string
          description: Animal name
        - name: earthAnimal
          in: formData
          type: boolean
          description: Whether it should be an earth animal
        - name: earthInsect
          in: formData
          type: boolean
          description: Whether it should be an earth insect
        - name: avian
          in: formData
          type: boolean
          description: Whether it should be an avian
        - name: canine
          in: formData
          type: boolean
          description: Whether it should be a canine
        - name: feline
          in: formData
          type: boolean
          description: Whether it should be a feline
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AnimalBaseResponse'
      tags:
        - Animal
  /v1/rest/astronomicalObject:
    get:
      description: Retrival of a single astronomical object
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Astronomical object's unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AstronomicalObjectFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - AstronomicalObject
  /v1/rest/astronomicalObject/search:
    get:
      description: Pagination over astronomical objects
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AstronomicalObjectBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - AstronomicalObject
    post:
      description: Searching astronomical objects
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: name
          in: formData
          type: string
          description: Astronomical object name
        - name: astronomicalObjectType
          in: formData
          type: string
          description: Type of astronomical object
        - name: locationUid
          in: formData
          type: string
          description: Unique ID of astronomical object containing objects being searched
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AstronomicalObjectBaseResponse'
      tags:
        - AstronomicalObject
  /v2/rest/astronomicalObject:
    get:
      description: Retrival of a single astronomical object (V2)
      operationId: v2Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Astronomical object's unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AstronomicalObjectV2FullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - AstronomicalObject
  /v2/rest/astronomicalObject/search:
    get:
      description: Pagination over astronomical objects (V2)
      operationId: v2Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AstronomicalObjectV2BaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - AstronomicalObject
    post:
      description: Searching astronomical objects (v2)
      operationId: v2Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: name
          in: formData
          type: string
          description: Astronomical object name
        - name: astronomicalObjectType
          in: formData
          type: string
          description: Type of astronomical object
        - name: locationUid
          in: formData
          type: string
          description: Unique ID of astronomical object containing objects being searched
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AstronomicalObjectV2BaseResponse'
      tags:
        - AstronomicalObject
  /v1/rest/book:
    get:
      description: Retrival of a single book
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Book unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BookFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Book
  /v1/rest/book/search:
    get:
      description: Pagination over books
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BookBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Book
    post:
      description: Searching books
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: title
          in: formData
          type: string
          description: Book title
        - name: publishedYearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year the book was published
        - name: publishedYearTo
          in: formData
          type: integer
          format: int32
          description: Ending year the book was published
        - name: numberOfPagesFrom
          in: formData
          type: integer
          format: int32
          description: Minimal number of pages
        - name: numberOfPagesTo
          in: formData
          type: integer
          format: int32
          description: Maximal number of pages
        - name: stardateFrom
          in: formData
          type: number
          format: float
          description: Starting stardate of book story
        - name: stardateTo
          in: formData
          type: number
          format: float
          description: Ending stardate of book story
        - name: yearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year of book story
        - name: yearTo
          in: formData
          type: integer
          format: int32
          description: Ending year of book story
        - name: novel
          in: formData
          type: boolean
          description: Whether it should be a novel
        - name: referenceBook
          in: formData
          type: boolean
          description: Whether it should be a reference book
        - name: biographyBook
          in: formData
          type: boolean
          description: Whether it should be a biography book
        - name: rolePlayingBook
          in: formData
          type: boolean
          description: Whether it should be a role playing book
        - name: eBook
          in: formData
          type: boolean
          description: Whether it should be an e-book
        - name: anthology
          in: formData
          type: boolean
          description: Whether it should be an anthology
        - name: novelization
          in: formData
          type: boolean
          description: Whether it should be novelization
        - name: audiobook
          in: formData
          type: boolean
          description: Whether it should be an audiobook
        - name: audiobookAbridged
          in: formData
          type: boolean
          description: Whether it should be an audiobook, abridged
        - name: audiobookPublishedYearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year the audiobook was published
        - name: audiobookPublishedYearTo
          in: formData
          type: integer
          format: int32
          description: Ending year the audiobook was published
        - name: audiobookRunTimeFrom
          in: formData
          type: integer
          format: int32
          description: Minimal audiobook run time, in minutes
        - name: audiobookRunTimeTo
          in: formData
          type: integer
          format: int32
          description: Maximal audiobook run time, in minutes
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BookBaseResponse'
      tags:
        - Book
  /v2/rest/book:
    get:
      description: Retrival of a single book (V2)
      operationId: v2Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Book unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BookV2FullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Book
  /v2/rest/book/search:
    get:
      description: Pagination over books (V2)
      operationId: v2Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BookV2BaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Book
    post:
      description: Searching books (V2)
      operationId: v2Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: title
          in: formData
          type: string
          description: Book title
        - name: publishedYearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year the book was published
        - name: publishedYearTo
          in: formData
          type: integer
          format: int32
          description: Ending year the book was published
        - name: numberOfPagesFrom
          in: formData
          type: integer
          format: int32
          description: Minimal number of pages
        - name: numberOfPagesTo
          in: formData
          type: integer
          format: int32
          description: Maximal number of pages
        - name: stardateFrom
          in: formData
          type: number
          format: float
          description: Starting stardate of book story
        - name: stardateTo
          in: formData
          type: number
          format: float
          description: Ending stardate of book story
        - name: yearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year of book story
        - name: yearTo
          in: formData
          type: integer
          format: int32
          description: Ending year of book story
        - name: novel
          in: formData
          type: boolean
          description: Whether it should be a novel
        - name: referenceBook
          in: formData
          type: boolean
          description: Whether it should be a reference book
        - name: biographyBook
          in: formData
          type: boolean
          description: Whether it should be a biography book
        - name: rolePlayingBook
          in: formData
          type: boolean
          description: Whether it should be a role playing book
        - name: eBook
          in: formData
          type: boolean
          description: Whether it should be an e-book
        - name: anthology
          in: formData
          type: boolean
          description: Whether it should be an anthology
        - name: novelization
          in: formData
          type: boolean
          description: Whether it should be novelization
        - name: unauthorizedPublication
          in: formData
          type: boolean
          description: Whether it should be an unauthorized publication
        - name: audiobook
          in: formData
          type: boolean
          description: Whether it should be an audiobook
        - name: audiobookAbridged
          in: formData
          type: boolean
          description: Whether it should be an audiobook, abridged
        - name: audiobookPublishedYearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year the audiobook was published
        - name: audiobookPublishedYearTo
          in: formData
          type: integer
          format: int32
          description: Ending year the audiobook was published
        - name: audiobookRunTimeFrom
          in: formData
          type: integer
          format: int32
          description: Minimal audiobook run time, in minutes
        - name: audiobookRunTimeTo
          in: formData
          type: integer
          format: int32
          description: Maximal audiobook run time, in minutes
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BookV2BaseResponse'
      tags:
        - Book
  /v1/rest/bookCollection:
    get:
      description: Retrival of a single book collection
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Book collection unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BookCollectionFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - BookCollection
  /v1/rest/bookCollection/search:
    get:
      description: Pagination over book collections
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BookCollectionBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - BookCollection
    post:
      description: Searching book collections
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: title
          in: formData
          type: string
          description: Book collection title
        - name: publishedYearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year the book collection was published
        - name: publishedYearTo
          in: formData
          type: integer
          format: int32
          description: Ending year the book collection was published
        - name: numberOfPagesFrom
          in: formData
          type: integer
          format: int32
          description: Minimal number of pages
        - name: numberOfPagesTo
          in: formData
          type: integer
          format: int32
          description: Maximal number of pages
        - name: stardateFrom
          in: formData
          type: number
          format: float
          description: Starting stardate of book collection stories
        - name: stardateTo
          in: formData
          type: number
          format: float
          description: Ending stardate of book collections stories
        - name: yearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year of book collection stories
        - name: yearTo
          in: formData
          type: integer
          format: int32
          description: Ending year of book collections stories
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BookCollectionBaseResponse'
      tags:
        - BookCollection
  /v1/rest/bookSeries:
    get:
      description: Retrival of a single book series
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Book series unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BookSeriesFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - BookSeries
  /v1/rest/bookSeries/search:
    get:
      description: Pagination over book series
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BookSeriesBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - BookSeries
    post:
      description: Searching book series
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: title
          in: formData
          type: string
          description: Book series title
        - name: publishedYearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year the book series was published
        - name: publishedYearTo
          in: formData
          type: integer
          format: int32
          description: Ending year the book series was published
        - name: numberOfBooksFrom
          in: formData
          type: integer
          format: int32
          description: Minimal number of books
        - name: numberOfBooksTo
          in: formData
          type: integer
          format: int32
          description: Maximal number of books
        - name: yearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year of book series stories
        - name: yearTo
          in: formData
          type: integer
          format: int32
          description: Ending year of book series stories
        - name: miniseries
          in: formData
          type: boolean
          description: Whether it should be a miniseries
        - name: eBookSeries
          in: formData
          type: boolean
          description: Whether it should be an e-book series
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BookSeriesBaseResponse'
      tags:
        - BookSeries
  /v1/rest/character:
    get:
      description: Retrival of a single character
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Character unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CharacterFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Character
  /v1/rest/character/search:
    get:
      description: Pagination over characters
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CharacterBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Character
    post:
      description: Searching characters
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: name
          in: formData
          type: string
          description: Character name
        - name: gender
          in: formData
          type: string
          description: Character gender
        - name: deceased
          in: formData
          type: boolean
          description: Whether it should be a deceased character
        - name: hologram
          in: formData
          type: boolean
          description: Whether it should be a hologram
        - name: fictionalCharacter
          in: formData
          type: boolean
          description: Whether it should be a fictional character (from universe point of view)
        - name: mirror
          in: formData
          type: boolean
          description: Whether it should be a mirror universe character
        - name: alternateReality
          in: formData
          type: boolean
          description: Whether it should be a alternate reality character
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CharacterBaseResponse'
      tags:
        - Character
  /v1/rest/comics:
    get:
      description: Retrival of a single comics
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Comics unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ComicsFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Comics
  /v1/rest/comics/search:
    get:
      description: Pagination over comics
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ComicsBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Comics
    post:
      description: Searching comics
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: title
          in: formData
          type: string
          description: Comics title
        - name: publishedYearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year the comics was published
        - name: publishedYearTo
          in: formData
          type: integer
          format: int32
          description: Ending year the comics was published
        - name: numberOfPagesFrom
          in: formData
          type: integer
          format: int32
          description: Minimal number of pages
        - name: numberOfPagesTo
          in: formData
          type: integer
          format: int32
          description: Maximal number of pages
        - name: stardateFrom
          in: formData
          type: number
          format: float
          description: Starting stardate of comics story
        - name: stardateTo
          in: formData
          type: number
          format: float
          description: Ending stardate of comics story
        - name: yearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year of comics story
        - name: yearTo
          in: formData
          type: integer
          format: int32
          description: Ending year of comics story
        - name: photonovel
          in: formData
          type: boolean
          description: Whether it should be a photonovel
        - name: adaptation
          in: formData
          type: boolean
          description: Whether it should be an adaptation of an episode or a movie
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ComicsBaseResponse'
      tags:
        - Comics
  /v1/rest/comicCollection:
    get:
      description: Retrival of a single comic collection
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Comic collection unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ComicCollectionFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - ComicCollection
  /v1/rest/comicCollection/search:
    get:
      description: Pagination over comic collections
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ComicCollectionBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - ComicCollection
    post:
      description: Searching comic collections
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: title
          in: formData
          type: string
          description: Comic collection title
        - name: publishedYearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year the comic collection was published
        - name: publishedYearTo
          in: formData
          type: integer
          format: int32
          description: Ending year the comic collection was published
        - name: numberOfPagesFrom
          in: formData
          type: integer
          format: int32
          description: Minimal number of pages
        - name: numberOfPagesTo
          in: formData
          type: integer
          format: int32
          description: Maximal number of pages
        - name: stardateFrom
          in: formData
          type: number
          format: float
          description: Starting stardate of comic collection stories
        - name: stardateTo
          in: formData
          type: number
          format: float
          description: Ending stardate of comic collections stories
        - name: yearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year of comic collection stories
        - name: yearTo
          in: formData
          type: integer
          format: int32
          description: Ending year of comic collections stories
        - name: photonovel
          in: formData
          type: boolean
          description: Whether it should be an photonovel collection
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ComicCollectionBaseResponse'
      tags:
        - ComicCollection
  /v2/rest/comicCollection:
    get:
      description: Retrival of a single comic collection (V2)
      operationId: v2Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Comic collection unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ComicCollectionV2FullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - ComicCollection
  /v1/rest/comicSeries:
    get:
      description: Retrival of a single comic series
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Comic series unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ComicSeriesFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - ComicSeries
  /v1/rest/comicSeries/search:
    get:
      description: Pagination over comic series
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ComicSeriesBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - ComicSeries
    post:
      description: Searching comic series
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: title
          in: formData
          type: string
          description: Comic series title
        - name: publishedYearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year the comic series was published
        - name: publishedYearTo
          in: formData
          type: integer
          format: int32
          description: Ending year the comic series was published
        - name: numberOfIssuesFrom
          in: formData
          type: integer
          format: int32
          description: Minimal number of issues
        - name: numberOfIssuesTo
          in: formData
          type: integer
          format: int32
          description: Maximal number of issues
        - name: stardateFrom
          in: formData
          type: number
          format: float
          description: Starting stardate of comic series stories
        - name: stardateTo
          in: formData
          type: number
          format: float
          description: Starting stardate of comic series stories
        - name: yearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year of comic series stories
        - name: yearTo
          in: formData
          type: integer
          format: int32
          description: Ending year of comic series stories
        - name: miniseries
          in: formData
          type: boolean
          description: Whether it should be a miniseries
        - name: photonovelSeries
          in: formData
          type: boolean
          description: Whether it should be photonovel series
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ComicSeriesBaseResponse'
      tags:
        - ComicSeries
  /v1/rest/comicStrip:
    get:
      description: Retrival of a single comic strip
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Comic strip unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ComicStripFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - ComicStrip
  /v1/rest/comicStrip/search:
    get:
      description: Pagination over comic strips
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ComicStripBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - ComicStrip
    post:
      description: Searching comic strips
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: title
          in: formData
          type: string
          description: Comic strip title
        - name: publishedYearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year the comic strip was published
        - name: publishedYearTo
          in: formData
          type: integer
          format: int32
          description: Ending year the comic strip was published
        - name: numberOfPagesFrom
          in: formData
          type: integer
          format: int32
          description: Minimal number of pages
        - name: numberOfPagesTo
          in: formData
          type: integer
          format: int32
          description: Maximal number of pages
        - name: yearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year of comic strip story
        - name: yearTo
          in: formData
          type: integer
          format: int32
          description: Ending year of comic strip story
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ComicStripBaseResponse'
      tags:
        - ComicStrip
  /v1/rest/company:
    get:
      description: Retrival of a single company
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Company unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CompanyFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Company
  /v1/rest/company/search:
    get:
      description: Pagination over companies
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CompanyBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Company
    post:
      description: Searching companies
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: name
          in: formData
          type: string
          description: Company name
        - name: broadcaster
          in: formData
          type: boolean
          description: Whether it should be a broadcaster
        - name: collectibleCompany
          in: formData
          type: boolean
          description: Whether it should be a collectible company
        - name: conglomerate
          in: formData
          type: boolean
          description: Whether it should be a conglomerate
        - name: digitalVisualEffectsCompany
          in: formData
          type: boolean
          description: Whether it should be a digital visual effects company
        - name: distributor
          in: formData
          type: boolean
          description: Whether it should be a distributor
        - name: gameCompany
          in: formData
          type: boolean
          description: Whether it should be a game company
        - name: filmEquipmentCompany
          in: formData
          type: boolean
          description: Whether it should be a film equipment company
        - name: makeUpEffectsStudio
          in: formData
          type: boolean
          description: Whether it should be a make-up effects studio
        - name: mattePaintingCompany
          in: formData
          type: boolean
          description: Whether it should be a matte painting company
        - name: modelAndMiniatureEffectsCompany
          in: formData
          type: boolean
          description: Whether it should be a model and miniature effects company
        - name: postProductionCompany
          in: formData
          type: boolean
          description: Whether it should be a post-production company
        - name: productionCompany
          in: formData
          type: boolean
          description: Whether it should be a production company
        - name: propCompany
          in: formData
          type: boolean
          description: Whether it should be a prop company
        - name: recordLabel
          in: formData
          type: boolean
          description: Whether it should be a record label
        - name: specialEffectsCompany
          in: formData
          type: boolean
          description: Whether it should be a special effects company
        - name: tvAndFilmProductionCompany
          in: formData
          type: boolean
          description: Whether it should be a TV and film production company
        - name: videoGameCompany
          in: formData
          type: boolean
          description: Whether it should be a video game company
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CompanyBaseResponse'
      tags:
        - Company
  /v2/rest/company:
    get:
      description: Retrival of a single company (V2)
      operationId: v2Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Company unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CompanyV2FullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Company
  /v2/rest/company/search:
    get:
      description: Pagination over companies (V2)
      operationId: v2Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CompanyV2BaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Company
    post:
      description: Searching companies (V2)
      operationId: v2Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: name
          in: formData
          type: string
          description: Company name
        - name: broadcaster
          in: formData
          type: boolean
          description: Whether it should be a broadcaster
        - name: streamingService
          in: formData
          type: boolean
          description: Whether it should be a streaming service
        - name: collectibleCompany
          in: formData
          type: boolean
          description: Whether it should be a collectible company
        - name: conglomerate
          in: formData
          type: boolean
          description: Whether it should be a conglomerate
        - name: visualEffectsCompany
          in: formData
          type: boolean
          description: Whether it should be a visual effects company
        - name: digitalVisualEffectsCompany
          in: formData
          type: boolean
          description: Whether it should be a digital visual effects company
        - name: distributor
          in: formData
          type: boolean
          description: Whether it should be a distributor
        - name: gameCompany
          in: formData
          type: boolean
          description: Whether it should be a game company
        - name: filmEquipmentCompany
          in: formData
          type: boolean
          description: Whether it should be a film equipment company
        - name: makeUpEffectsStudio
          in: formData
          type: boolean
          description: Whether it should be a make-up effects studio
        - name: mattePaintingCompany
          in: formData
          type: boolean
          description: Whether it should be a matte painting company
        - name: modelAndMiniatureEffectsCompany
          in: formData
          type: boolean
          description: Whether it should be a model and miniature effects company
        - name: postProductionCompany
          in: formData
          type: boolean
          description: Whether it should be a post-production company
        - name: productionCompany
          in: formData
          type: boolean
          description: Whether it should be a production company
        - name: propCompany
          in: formData
          type: boolean
          description: Whether it should be a prop company
        - name: recordLabel
          in: formData
          type: boolean
          description: Whether it should be a record label
        - name: specialEffectsCompany
          in: formData
          type: boolean
          description: Whether it should be a special effects company
        - name: tvAndFilmProductionCompany
          in: formData
          type: boolean
          description: Whether it should be a TV and film production company
        - name: videoGameCompany
          in: formData
          type: boolean
          description: Whether it should be a video game company
        - name: publisher
          in: formData
          type: boolean
          description: Whether it should be a publisher
        - name: publicationArtStudio
          in: formData
          type: boolean
          description: Whether it should be a publication art studio
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CompanyV2BaseResponse'
      tags:
        - Company
  /v1/rest/conflict:
    get:
      description: Retrival of a single conflict
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Conflict unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ConflictFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Conflict
  /v1/rest/conflict/search:
    get:
      description: Pagination over conflicts
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ConflictBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Conflict
    post:
      description: Searching conflicts
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: name
          in: formData
          type: string
          description: Conflict name
        - name: yearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year of the conflict
        - name: yearTo
          in: formData
          type: integer
          format: int32
          description: Ending year of the conflict
        - name: earthConflict
          in: formData
          type: boolean
          description: Whether it should be an Earth conflict
        - name: federationWar
          in: formData
          type: boolean
          description: Whether this conflict should be a part of war involving Federation
        - name: klingonWar
          in: formData
          type: boolean
          description: Whether this conflict should be a part of war involving the Klingons
        - name: dominionWarBattle
          in: formData
          type: boolean
          description: Whether this conflict should be a Dominion war battle
        - name: alternateReality
          in: formData
          type: boolean
          description: Whether this conflict should be from alternate reality
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ConflictBaseResponse'
      tags:
        - Conflict
  /v2/rest/conflict:
    get:
      description: Retrival of a single conflict (V2)
      operationId: v2Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Conflict unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ConflictV2FullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Conflict
  /v1/rest/common/dataVersion:
    get:
      description: Retrival of a data version
      operationId: v1Get
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DataVersion'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - DataVersion
  /v1/rest/element:
    get:
      description: Retrival of a single element
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Element unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ElementFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Element
  /v1/rest/element/search:
    get:
      description: Pagination over elements
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ElementBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Element
    post:
      description: Searching elements
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: name
          in: formData
          type: string
          description: Element name
        - name: symbol
          in: formData
          type: string
          description: Element symbol
        - name: transuranium
          in: formData
          type: boolean
          description: Whether it should be a transuranium
        - name: gammaSeries
          in: formData
          type: boolean
          description: Whether it should belong to Gamma series
        - name: hypersonicSeries
          in: formData
          type: boolean
          description: Whether it should belong to Hypersonic series
        - name: megaSeries
          in: formData
          type: boolean
          description: Whether it should belong to Mega series
        - name: omegaSeries
          in: formData
          type: boolean
          description: Whether it should belong to Omega series
        - name: transonicSeries
          in: formData
          type: boolean
          description: Whether it should belong to Transonic series
        - name: worldSeries
          in: formData
          type: boolean
          description: Whether it should belong to World series
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ElementBaseResponse'
      tags:
        - Element
  /v2/rest/element:
    get:
      description: Retrival of a single element (V2)
      operationId: v2Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Element unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ElementV2FullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Element
  /v2/rest/element/search:
    get:
      description: Pagination over elements (V2)
      operationId: v2Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ElementV2BaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Element
    post:
      description: Searching elements (V2)
      operationId: v2Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: name
          in: formData
          type: string
          description: Element name
        - name: symbol
          in: formData
          type: string
          description: Element symbol
        - name: transuranic
          in: formData
          type: boolean
          description: Whether it should be a transuranic
        - name: gammaSeries
          in: formData
          type: boolean
          description: Whether it should belong to Gamma series
        - name: hypersonicSeries
          in: formData
          type: boolean
          description: Whether it should belong to Hypersonic series
        - name: megaSeries
          in: formData
          type: boolean
          description: Whether it should belong to Mega series
        - name: omegaSeries
          in: formData
          type: boolean
          description: Whether it should belong to Omega series
        - name: transonicSeries
          in: formData
          type: boolean
          description: Whether it should belong to Transonic series
        - name: worldSeries
          in: formData
          type: boolean
          description: Whether it should belong to World series
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ElementV2BaseResponse'
      tags:
        - Element
  /v1/rest/episode:
    get:
      description: Retrival of a single episode
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Episode unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EpisodeFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Episode
  /v1/rest/episode/search:
    get:
      description: Pagination over episodes
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EpisodeBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Episode
    post:
      description: Searching episodes
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: title
          in: formData
          type: string
          description: Episode title
        - name: seasonNumberFrom
          in: formData
          type: integer
          format: int32
          description: Minimal season number
        - name: seasonNumberTo
          in: formData
          type: integer
          format: int32
          description: Maximal season number
        - name: episodeNumberFrom
          in: formData
          type: integer
          format: int32
          description: Minimal episode number in season
        - name: episodeNumberTo
          in: formData
          type: integer
          format: int32
          description: Maximal episode number in season
        - name: productionSerialNumber
          in: formData
          type: string
          description: Production serial number
        - name: featureLength
          in: formData
          type: boolean
          description: Whether it should be a feature length episode
        - name: stardateFrom
          in: formData
          type: number
          format: float
          description: Starting stardate of episode story
        - name: stardateTo
          in: formData
          type: number
          format: float
          description: Ending stardate of episode story
        - name: yearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year of episode story
        - name: yearTo
          in: formData
          type: integer
          format: int32
          description: Ending year of episode story
        - name: usAirDateFrom
          in: formData
          type: string
          format: date
          description: Minimal date the episode was first aired in the United States
        - name: usAirDateTo
          in: formData
          type: string
          format: date
          description: Maximal date the episode was first aired in the United States
        - name: finalScriptDateFrom
          in: formData
          type: string
          format: date
          description: Minimal date the episode script was completed
        - name: finalScriptDateTo
          in: formData
          type: string
          format: date
          description: Maximal date the episode script was completed
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EpisodeBaseResponse'
      tags:
        - Episode
  /v1/rest/food:
    get:
      description: Retrival of a single food
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Food unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FoodFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Food
  /v1/rest/food/search:
    get:
      description: Pagination over foods
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FoodBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Food
    post:
      description: Searching foods
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: name
          in: formData
          type: string
          description: Food name
        - name: earthlyOrigin
          in: formData
          type: boolean
          description: Whether it should be of earthly origin
        - name: dessert
          in: formData
          type: boolean
          description: Whether it should be a dessert
        - name: fruit
          in: formData
          type: boolean
          description: Whether it should be a fruit
        - name: herbOrSpice
          in: formData
          type: boolean
          description: Whether it should be an herb or a spice
        - name: sauce
          in: formData
          type: boolean
          description: Whether it should be a sauce
        - name: soup
          in: formData
          type: boolean
          description: Whether it should be a soup
        - name: beverage
          in: formData
          type: boolean
          description: Whether it should be a beverage
        - name: alcoholicBeverage
          in: formData
          type: boolean
          description: Whether it should be an alcoholic beverage
        - name: juice
          in: formData
          type: boolean
          description: Whether it should be a juice
        - name: tea
          in: formData
          type: boolean
          description: Whether it should be a tea
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FoodBaseResponse'
      tags:
        - Food
  /v1/rest/literature:
    get:
      description: Retrival of a single literature
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Literature unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LiteratureFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Literature
  /v1/rest/literature/search:
    get:
      description: Pagination over literature
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LiteratureBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Literature
    post:
      description: Searching literature
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: title
          in: formData
          type: string
          description: Literature title
        - name: earthlyOrigin
          in: formData
          type: boolean
          description: Whether it should be of earthly origin
        - name: shakespeareanWork
          in: formData
          type: boolean
          description: Whether it should be a Shakespearean work
        - name: report
          in: formData
          type: boolean
          description: Whether it should be a report
        - name: scientificLiterature
          in: formData
          type: boolean
          description: Whether it should be a scientific literature
        - name: technicalManual
          in: formData
          type: boolean
          description: Whether it should be a technical manual
        - name: religiousLiterature
          in: formData
          type: boolean
          description: Whether it should be a religious literature
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LiteratureBaseResponse'
      tags:
        - Literature
  /v1/rest/location:
    get:
      description: Retrival of a single location
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Location unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LocationFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Location
  /v1/rest/location/search:
    get:
      description: Pagination over locations
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LocationBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Location
    post:
      description: Searching locations
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: name
          in: formData
          type: string
          description: Location name
        - name: earthlyLocation
          in: formData
          type: boolean
          description: Whether it should be an earthly location
        - name: fictionalLocation
          in: formData
          type: boolean
          description: Whether it should be a fictional location
        - name: religiousLocation
          in: formData
          type: boolean
          description: Whether it should be a religious location
        - name: geographicalLocation
          in: formData
          type: boolean
          description: Whether it should be a geographical location
        - name: bodyOfWater
          in: formData
          type: boolean
          description: Whether it should be a body of water
        - name: country
          in: formData
          type: boolean
          description: Whether it should be a country
        - name: subnationalEntity
          in: formData
          type: boolean
          description: Whether it should be a subnational entity
        - name: settlement
          in: formData
          type: boolean
          description: Whether it should be a settlement
        - name: usSettlement
          in: formData
          type: boolean
          description: Whether it should be a US settlement
        - name: bajoranSettlement
          in: formData
          type: boolean
          description: Whether it should be a Bajoran settlement
        - name: colony
          in: formData
          type: boolean
          description: Whether it should be a colony
        - name: landform
          in: formData
          type: boolean
          description: Whether it should be a landform
        - name: landmark
          in: formData
          type: boolean
          description: Whether it should be a landmark
        - name: road
          in: formData
          type: boolean
          description: Whether it should be a road
        - name: structure
          in: formData
          type: boolean
          description: Whether it should be a structure
        - name: shipyard
          in: formData
          type: boolean
          description: Whether it should be a shipyard
        - name: buildingInterior
          in: formData
          type: boolean
          description: Whether it should be a building interior
        - name: establishment
          in: formData
          type: boolean
          description: Whether it should be a establishment
        - name: medicalEstablishment
          in: formData
          type: boolean
          description: Whether it should be a medical establishment
        - name: ds9Establishment
          in: formData
          type: boolean
          description: Whether it should be a DS9 establishment
        - name: school
          in: formData
          type: boolean
          description: Whether it should be a school
        - name: mirror
          in: formData
          type: boolean
          description: Whether this location should be from mirror universe
        - name: alternateReality
          in: formData
          type: boolean
          description: Whether this location should be from alternate reality
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LocationBaseResponse'
      tags:
        - Location
  /v2/rest/location:
    get:
      description: Retrival of a single location (V2)
      operationId: v2Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Location unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LocationV2FullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Location
  /v2/rest/location/search:
    get:
      description: Pagination over locations (V2)
      operationId: v2Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LocationV2BaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Location
    post:
      description: Searching locations (V2)
      operationId: v2Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: name
          in: formData
          type: string
          description: Location name
        - name: earthlyLocation
          in: formData
          type: boolean
          description: Whether it should be an earthly location
        - name: qonosLocation
          in: formData
          type: boolean
          description: "Whether it should be a Qo'nos location"
        - name: fictionalLocation
          in: formData
          type: boolean
          description: Whether it should be a fictional location
        - name: mythologicalLocation
          in: formData
          type: boolean
          description: Whether it should be a mythological location
        - name: religiousLocation
          in: formData
          type: boolean
          description: Whether it should be a religious location
        - name: geographicalLocation
          in: formData
          type: boolean
          description: Whether it should be a geographical location
        - name: bodyOfWater
          in: formData
          type: boolean
          description: Whether it should be a body of water
        - name: country
          in: formData
          type: boolean
          description: Whether it should be a country
        - name: subnationalEntity
          in: formData
          type: boolean
          description: Whether it should be a subnational entity
        - name: settlement
          in: formData
          type: boolean
          description: Whether it should be a settlement
        - name: usSettlement
          in: formData
          type: boolean
          description: Whether it should be a US settlement
        - name: bajoranSettlement
          in: formData
          type: boolean
          description: Whether it should be a Bajoran settlement
        - name: colony
          in: formData
          type: boolean
          description: Whether it should be a colony
        - name: landform
          in: formData
          type: boolean
          description: Whether it should be a landform
        - name: road
          in: formData
          type: boolean
          description: Whether it should be a road
        - name: structure
          in: formData
          type: boolean
          description: Whether it should be a structure
        - name: shipyard
          in: formData
          type: boolean
          description: Whether it should be a shipyard
        - name: buildingInterior
          in: formData
          type: boolean
          description: Whether it should be a building interior
        - name: establishment
          in: formData
          type: boolean
          description: Whether it should be a establishment
        - name: medicalEstablishment
          in: formData
          type: boolean
          description: Whether it should be a medical establishment
        - name: ds9Establishment
          in: formData
          type: boolean
          description: Whether it should be a DS9 establishment
        - name: school
          in: formData
          type: boolean
          description: Whether it should be a school
        - name: restaurant
          in: formData
          type: boolean
          description: Whether it should be a restaurant
        - name: residence
          in: formData
          type: boolean
          description: Whether it should be a residence
        - name: mirror
          in: formData
          type: boolean
          description: Whether this location should be from mirror universe
        - name: alternateReality
          in: formData
          type: boolean
          description: Whether this location should be from alternate reality
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LocationV2BaseResponse'
      tags:
        - Location
  /v1/rest/magazine:
    get:
      description: Retrival of a single magazine
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Magazine unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MagazineFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Magazine
  /v1/rest/magazine/search:
    get:
      description: Pagination over magazines
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MagazineBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Magazine
    post:
      description: Searching magazines
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: title
          in: formData
          type: string
          description: Magazine title
        - name: publishedYearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year the magazine was published
        - name: publishedYearTo
          in: formData
          type: integer
          format: int32
          description: Ending year the magazine was published
        - name: numberOfPagesFrom
          in: formData
          type: integer
          format: int32
          description: Minimal number of pages
        - name: numberOfPagesTo
          in: formData
          type: integer
          format: int32
          description: Maximal number of pages
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MagazineBaseResponse'
      tags:
        - Magazine
  /v1/rest/magazineSeries:
    get:
      description: Retrival of a single magazine series
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Magazine series unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MagazineSeriesFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - MagazineSeries
  /v1/rest/magazineSeries/search:
    get:
      description: Pagination over magazine series
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MagazineSeriesBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - MagazineSeries
    post:
      description: Searching magazine series
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: title
          in: formData
          type: string
          description: Magazine series title
        - name: publishedYearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year the magazine series was published
        - name: publishedYearTo
          in: formData
          type: integer
          format: int32
          description: Ending year the magazine series was published
        - name: numberOfIssuesFrom
          in: formData
          type: integer
          format: int32
          description: Minimal number of issues
        - name: numberOfIssuesTo
          in: formData
          type: integer
          format: int32
          description: Maximal number of issues
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MagazineSeriesBaseResponse'
      tags:
        - MagazineSeries
  /v1/rest/material:
    get:
      description: Retrival of a single material
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Material unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MaterialFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Material
  /v1/rest/material/search:
    get:
      description: Pagination over materials
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MaterialBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Material
    post:
      description: Searching materials
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: name
          in: formData
          type: string
          description: Material name
        - name: chemicalCompound
          in: formData
          type: boolean
          description: Whether it should be a chemical compound
        - name: biochemicalCompound
          in: formData
          type: boolean
          description: Whether it should be a biochemical compound
        - name: drug
          in: formData
          type: boolean
          description: Whether it should be a drug
        - name: poisonousSubstance
          in: formData
          type: boolean
          description: Whether it should be a poisonous substance
        - name: explosive
          in: formData
          type: boolean
          description: Whether it should be an explosive
        - name: gemstone
          in: formData
          type: boolean
          description: Whether it should be a gemstone
        - name: alloyOrComposite
          in: formData
          type: boolean
          description: Whether it should be an alloy or a composite
        - name: fuel
          in: formData
          type: boolean
          description: Whether it should be a fuel
        - name: mineral
          in: formData
          type: boolean
          description: Whether it should be a mineral
        - name: preciousMaterial
          in: formData
          type: boolean
          description: Whether it should be a precious material
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MaterialBaseResponse'
      tags:
        - Material
  /v1/rest/medicalCondition:
    get:
      description: Retrival of a single medical condition
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Medical condition unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MedicalConditionFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - MedicalCondition
  /v1/rest/medicalCondition/search:
    get:
      description: Pagination over medical conditions
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MedicalConditionBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - MedicalCondition
    post:
      description: Searching medical conditions
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: name
          in: formData
          type: string
          description: Medical condition name
        - name: psychologicalCondition
          in: formData
          type: boolean
          description: Whether it should be a psychological condition
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MedicalConditionBaseResponse'
      tags:
        - MedicalCondition
  /v1/rest/movie:
    get:
      description: Retrival of a single movie
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Movie unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MovieFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Movie
  /v1/rest/movie/search:
    get:
      description: Pagination over movies
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MovieBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Movie
    post:
      description: Searching movies
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
        - name: sort
          type: string
          in: query
          description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        - name: title
          in: formData
          type: string
          description: Movie title
        - name: stardateFrom
          in: formData
          type: number
          format: float
          description: Starting stardate of movie story
        - name: stardateTo
          in: formData
          type: number
          format: float
          description: Ending stardate of movie story
        - name: yearFrom
          in: formData
          type: integer
          format: int32
          description: Starting year of movie story
        - name: yearTo
          in: formData
          type: integer
          format: int32
          description: Ending year of movie story
        - name: usReleaseDateFrom
          in: formData
          type: string
          format: date
          description: Minimal date the movie was first released in the United States
        - name: usReleaseDateTo
          in: formData
          type: string
          format: date
          description: Maximal date the movie was first released in the United States
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MovieBaseResponse'
      tags:
        - Movie
  /v1/rest/occupation:
    get:
      description: Retrival of a single occupation
      operationId: v1Get
      parameters:
        - name: uid
          in: query
          type: string
          required: true
          description: Occupation unique ID
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OccupationFullResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Occupation
  /v1/rest/occupation/search:
    get:
      description: Pagination over occupations
      operationId: v1Page
      parameters:
        - name: pageNumber
          in: query
          type: integer
          format: int32
          description: Zero-based page number
        - name: pageSize
          in: query
          type: integer
          format: int32
          description: Page size
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OccupationBaseResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Occupation
    post:
      description: Searching occupations
      operationId: v1Search
      consumes:
        - application/x-www-form-urlencoded
      produces:
[...]
