body
	background-color: #222
	color: #eee

.content
	margin-top: 6em

.container-full
	margin-left: 1em
	margin-right: 1em

.stars
	position: fixed;
	top: 15px;
	right: 90px;
	width: 120px;
	height: 120px;
	z-index: 1500;
