body
	background-color: #222
	color: #eee
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important

.content
	margin-top: 6em
	margin-bottom: 100px

.container-full
	margin-left: 1em
	margin-right: 1em

.legal-wrapper
	.legal-holder
		display: block

.legal-wrapper-translation
	.legal-holder-translation
		display: block

.jumbotron
	p
		font-weight: normal
		margin-bottom: 0
		font-size: 1em

.cc-window
	border: 2px solid #fff
