<div>
	<div class='navbar navbar-default navbar-fixed-top navbar-toggleable-md'>
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-wrapper" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class='container-fluid'>
			<div class='collapse navbar-collapse' id="navigation-wrapper">
					<ul class='nav navbar-nav'>
						<li><a routerLinkActive="navigation-element--active" [routerLinkActiveOptions]="{exact: true}" routerLink="">Home</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								Documentation <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a routerLinkActive="navigation-element--active" routerLink="about">About</a></li>
								<li role="separator" class="divider"></li>
								<li><a routerLinkActive="navigation-element--active" routerLink="api-overview">API overview</a></li>
								<li role="separator" class="divider"></li>
								<li><a routerLinkActive="navigation-element--active" routerLink="api-documentation">API documentation</a></li>
								<li role="separator" class="divider"></li>
								<li><a routerLinkActive="navigation-element--active" routerLink="licensing">Licensing</a></li>
							</ul>
						</li>
						<li><a routerLinkActive="navigation-element--active" routerLink="api-browser">API Browser</a></li>
						<li><a routerLinkActive="navigation-element--active" routerLink="statistics">Statistics</a></li>
					</ul>
					<ul class='nav navbar-nav navbar-right'>
						<li *ngIf="hasGitHubProjectDetails()">
							<button class="btn btn-success btn-xs github-stars">
								<a class="github-stars__link" href="https://github.com/cezarykluczynski/stapi/stargazers">
									<span class="github-stars__star">
										<svg height="24" class="octicon octicon-star" viewBox="0 0 14 16" version="1.1" width="24" aria-hidden="true"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"></path></svg>
									</span>
									<span class="github-stars__count">{{getGitHubStarsCount()}}</span>
								</a>
							</button>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								GitHub <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href='https://github.com/cezarykluczynski/stapi'>STAPI on GitHub</a></li>
								<li><a href='https://github.com/cezarykluczynski/stapi/issues'>Report an issue</a></li>
								<li><a href="https://github.com/cezarykluczynski/stapi/wiki">Wiki</a></li>
							</ul>
						</li>
						<li *ngIf="panelIsEnabled()"><a routerLinkActive="navigation-element--active" routerLink="panel">Panel</a></li>
					</ul>
			</div>
		</div>
	</div>
	<div>
		<router-outlet></router-outlet>
		<simple-notifications></simple-notifications>
	</div>
	<div class="footer">
		<div class="footer-content">
			<ul>
				<li><a href="/terms-of-service">Regulamin (Terms of service)</a></li>
				<li><a href="/privacy-policy">Polityka prywatności (Privacy policy)</a></li>
			</ul>
		</div>
	</div>
</div>
