body
	background-color: #222
	color: #eee

.content
	margin-top: 6em

.container-full
	margin-left: 1em
	margin-right: 1em

.navbar-default
	padding: 0

	a.navigation-element--active
		color: #0ce3ac

	a.navigation-element--active:hover
		color: #00bc8c

.navbar
	.container-fluid
		justify-content: center

.navbar-collapse > ul > li > a
	padding-left: 10px
	padding-right: 10px

#expand-mobile
	margin-top: 10px
	height: 41px
	margin-bottom: 10px

.footer
	clear: both
	width: 100%
	background: #375a7f
	position: fixed
	bottom: 0

.footer-content
	max-width: 960px
	min-width: 200px
	padding: 1em
	margin-left: auto
	margin-right: auto
	text-align: center

.https-notice
	position: fixed
	left: calc(50% - 250px)
	width: 500px
	text-align: center
	border-radius: 0 0 10px 10px

@media (max-width: 1350px)
	.https-notice
		left: auto
		right: 180px

@media (max-width: 1120px)
	.https-notice
		display: none
