<div>
	<div class='navbar navbar-default navbar-fixed-top navbar-toggleable-md'>
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-wrapper" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div *ngIf="hasHttpsNotice()" class="alert alert-success https-notice" role="alert">STAPI supports HTTPS. <a href="{{getHttpsVersionUrl()}}">Switch
			now</a> for safer browsing.
		</div>
		<div class='container-fluid'>
			<div class='collapse navbar-collapse' id="navigation-wrapper">
				<ul class='nav navbar-nav'>
					<li><a routerLinkActive="navigation-element--active" [routerLinkActiveOptions]="{exact: true}" routerLink="">Home</a></li>
					<li><a routerLinkActive="navigation-element--active" routerLink="about">About</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Documentation <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a routerLinkActive="navigation-element--active" routerLink="api-overview">API overview</a></li>
							<li role="separator" class="divider"></li>
							<li><a routerLinkActive="navigation-element--active" routerLink="api-documentation">API documentation</a></li>
							<li role="separator" class="divider"></li>
							<li><a routerLinkActive="navigation-element--active" routerLink="clients">Clients</a></li>
							<li role="separator" class="divider"></li>
							<li><a routerLinkActive="navigation-element--active" routerLink="licensing">Licensing</a></li>
						</ul>
					</li>
					<li><a routerLinkActive="navigation-element--active" routerLink="api-browser">API Browser</a></li>
				</ul>
				<ul class='nav navbar-nav navbar-right'>
					<li>
						<a href="https://github.com/cezarykluczynski/stapi/stargazers">
							<img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/cezarykluczynski/stapi?style=social">
						</a>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							GitHub <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href='https://github.com/cezarykluczynski/stapi'>STAPI on GitHub</a></li>
							<li><a href='https://github.com/cezarykluczynski/stapi/issues/new'>Report an issue</a></li>
							<li><a href="https://github.com/cezarykluczynski/stapi/wiki">Wiki</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<router-outlet></router-outlet>
	</div>
	<div class="footer" *ngIf="hasTocAndPP()">
		<div class="footer-content">
			<ul>
				<li><a href="/terms-of-service">Regulamin (Terms of service)</a></li>
				<li><a href="/privacy-policy">Polityka prywatności (Privacy policy)</a></li>
			</ul>
		</div>
	</div>
</div>
