body
	background-color: #222
	color: #eee

.content
	margin-top: 6em

.container-full
	margin-left: 1em
	margin-right: 1em

.navbar-default
	a.navigation-element--active
		color: #0ce3ac

	a.navigation-element--active:hover
		color: #00bc8c
