openapi: 3.0.3
info:
  title: STAPI
  description: STAPI, a Star Trek API
  version: 0.1.3-SNAPSHOT
servers:
  - url: https://stapi.co/api
    description: STAPI over secure HTTPS protocol
  - url: http://stapi.co/api
    description: STAPI over plain HTTP protocol
paths:
  /v1/rest/animal:
    get:
      tags:
        - Animal
      description: Retrieval of a single animal
      operationId: v1GetAnimal
      parameters:
        - name: uid
          in: query
          description: Animal unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnimalFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/animal/search:
    get:
      tags:
        - Animal
      description: Pagination over animals
      operationId: v1PageAnimals
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnimalBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Animal
      description: Searching animals
      operationId: v1SearchAnimals
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Animal name
                earthAnimal:
                  type: boolean
                  description: Whether it should be an earth animal
                earthInsect:
                  type: boolean
                  description: Whether it should be an earth insect
                avian:
                  type: boolean
                  description: Whether it should be an avian
                canine:
                  type: boolean
                  description: Whether it should be a canine
                feline:
                  type: boolean
                  description: Whether it should be a feline
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnimalBaseResponse'
  /v1/rest/astronomicalObject:
    get:
      tags:
        - AstronomicalObject
      description: Retrieval of a single astronomical object
      operationId: v1GetAstronomicalObject
      deprecated: true
      parameters:
        - name: uid
          in: query
          description: Astronomical object's unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AstronomicalObjectFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/astronomicalObject/search:
    get:
      tags:
        - AstronomicalObject
      description: Pagination over astronomical objects
      operationId: v1PageAstronomicalObjects
      deprecated: true
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AstronomicalObjectBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - AstronomicalObject
      description: Searching astronomical objects
      operationId: v1SearchAstronomicalObjects
      deprecated: true
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Astronomical object name
                astronomicalObjectType:
                  type: string
                  description: Type of astronomical object
                locationUid:
                  type: string
                  description: Unique ID of astronomical object containing objects
                    being searched
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AstronomicalObjectBaseResponse'
  /v2/rest/astronomicalObject:
    get:
      tags:
        - AstronomicalObject
      description: Retrieval of a single astronomical object (V2)
      operationId: v2GetAstronomicalObject
      parameters:
        - name: uid
          in: query
          description: Astronomical object's unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AstronomicalObjectV2FullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/rest/astronomicalObject/search:
    get:
      tags:
        - AstronomicalObject
      description: Pagination over astronomical objects (V2)
      operationId: v2PageAstronomicalObjects
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AstronomicalObjectV2BaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - AstronomicalObject
      description: Searching astronomical objects (v2)
      operationId: v2SearchAstronomicalObjects
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Astronomical object name
                astronomicalObjectType:
                  type: string
                  description: Type of astronomical object
                locationUid:
                  type: string
                  description: Unique ID of astronomical object containing objects
                    being searched
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AstronomicalObjectV2BaseResponse'
  /v1/rest/book:
    get:
      tags:
        - Book
      description: Retrieval of a single book
      operationId: v1GetBook
      deprecated: true
      parameters:
        - name: uid
          in: query
          description: Book unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/book/search:
    get:
      tags:
        - Book
      description: Pagination over books
      operationId: v1PageBooks
      deprecated: true
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Book
      description: Searching books
      operationId: v1SearchBooks
      deprecated: true
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Book title
                publishedYearFrom:
                  type: integer
                  description: Starting year the book was published
                  format: int32
                publishedYearTo:
                  type: integer
                  description: Ending year the book was published
                  format: int32
                numberOfPagesFrom:
                  type: integer
                  description: Minimal number of pages
                  format: int32
                numberOfPagesTo:
                  type: integer
                  description: Maximal number of pages
                  format: int32
                stardateFrom:
                  type: number
                  description: Starting stardate of book story
                  format: float
                stardateTo:
                  type: number
                  description: Ending stardate of book story
                  format: float
                yearFrom:
                  type: integer
                  description: Starting year of book story
                  format: int32
                yearTo:
                  type: integer
                  description: Ending year of book story
                  format: int32
                novel:
                  type: boolean
                  description: Whether it should be a novel
                referenceBook:
                  type: boolean
                  description: Whether it should be a reference book
                biographyBook:
                  type: boolean
                  description: Whether it should be a biography book
                rolePlayingBook:
                  type: boolean
                  description: Whether it should be a role playing book
                eBook:
                  type: boolean
                  description: Whether it should be an e-book
                anthology:
                  type: boolean
                  description: Whether it should be an anthology
                novelization:
                  type: boolean
                  description: Whether it should be novelization
                audiobook:
                  type: boolean
                  description: Whether it should be an audiobook
                audiobookAbridged:
                  type: boolean
                  description: Whether it should be an audiobook, abridged
                audiobookPublishedYearFrom:
                  type: integer
                  description: Starting year the audiobook was published
                  format: int32
                audiobookPublishedYearTo:
                  type: integer
                  description: Ending year the audiobook was published
                  format: int32
                audiobookRunTimeFrom:
                  type: integer
                  description: Minimal audiobook run time, in minutes
                  format: int32
                audiobookRunTimeTo:
                  type: integer
                  description: Maximal audiobook run time, in minutes
                  format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookBaseResponse'
  /v2/rest/book:
    get:
      tags:
        - Book
      description: Retrieval of a single book (V2)
      operationId: v2GetBook
      parameters:
        - name: uid
          in: query
          description: Book unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookV2FullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/rest/book/search:
    get:
      tags:
        - Book
      description: Pagination over books (V2)
      operationId: v2PageBooks
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookV2BaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Book
      description: Searching books (V2)
      operationId: v2SearchBooks
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Book title
                publishedYearFrom:
                  type: integer
                  description: Starting year the book was published
                  format: int32
                publishedYearTo:
                  type: integer
                  description: Ending year the book was published
                  format: int32
                numberOfPagesFrom:
                  type: integer
                  description: Minimal number of pages
                  format: int32
                numberOfPagesTo:
                  type: integer
                  description: Maximal number of pages
                  format: int32
                stardateFrom:
                  type: number
                  description: Starting stardate of book story
                  format: float
                stardateTo:
                  type: number
                  description: Ending stardate of book story
                  format: float
                yearFrom:
                  type: integer
                  description: Starting year of book story
                  format: int32
                yearTo:
                  type: integer
                  description: Ending year of book story
                  format: int32
                novel:
                  type: boolean
                  description: Whether it should be a novel
                referenceBook:
                  type: boolean
                  description: Whether it should be a reference book
                biographyBook:
                  type: boolean
                  description: Whether it should be a biography book
                rolePlayingBook:
                  type: boolean
                  description: Whether it should be a role playing book
                eBook:
                  type: boolean
                  description: Whether it should be an e-book
                anthology:
                  type: boolean
                  description: Whether it should be an anthology
                novelization:
                  type: boolean
                  description: Whether it should be novelization
                unauthorizedPublication:
                  type: boolean
                  description: Whether it should be an unauthorized publication
                audiobook:
                  type: boolean
                  description: Whether it should be an audiobook
                audiobookAbridged:
                  type: boolean
                  description: Whether it should be an audiobook, abridged
                audiobookPublishedYearFrom:
                  type: integer
                  description: Starting year the audiobook was published
                  format: int32
                audiobookPublishedYearTo:
                  type: integer
                  description: Ending year the audiobook was published
                  format: int32
                audiobookRunTimeFrom:
                  type: integer
                  description: Minimal audiobook run time, in minutes
                  format: int32
                audiobookRunTimeTo:
                  type: integer
                  description: Maximal audiobook run time, in minutes
                  format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookV2BaseResponse'
  /v1/rest/bookCollection:
    get:
      tags:
        - BookCollection
      description: Retrieval of a single book collection
      operationId: v1GetBookCollection
      parameters:
        - name: uid
          in: query
          description: Book collection unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookCollectionFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/bookCollection/search:
    get:
      tags:
        - BookCollection
      description: Pagination over book collections
      operationId: v1PageBookCollections
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookCollectionBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - BookCollection
      description: Searching book collections
      operationId: v1SearchBookCollections
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Book collection title
                publishedYearFrom:
                  type: integer
                  description: Starting year the book collection was published
                  format: int32
                publishedYearTo:
                  type: integer
                  description: Ending year the book collection was published
                  format: int32
                numberOfPagesFrom:
                  type: integer
                  description: Minimal number of pages
                  format: int32
                numberOfPagesTo:
                  type: integer
                  description: Maximal number of pages
                  format: int32
                stardateFrom:
                  type: number
                  description: Starting stardate of book collection stories
                  format: float
                stardateTo:
                  type: number
                  description: Ending stardate of book collections stories
                  format: float
                yearFrom:
                  type: integer
                  description: Starting year of book collection stories
                  format: int32
                yearTo:
                  type: integer
                  description: Ending year of book collections stories
                  format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookCollectionBaseResponse'
  /v1/rest/bookSeries:
    get:
      tags:
        - BookSeries
      description: Retrieval of a single book series
      operationId: v1GetBookSeries
      parameters:
        - name: uid
          in: query
          description: Book series unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookSeriesFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/bookSeries/search:
    get:
      tags:
        - BookSeries
      description: Pagination over book series
      operationId: v1PageBookSeries
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookSeriesBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - BookSeries
      description: Searching book series
      operationId: v1SearchBookSeries
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Book series title
                publishedYearFrom:
                  type: integer
                  description: Starting year the book series was published
                  format: int32
                publishedYearTo:
                  type: integer
                  description: Ending year the book series was published
                  format: int32
                numberOfBooksFrom:
                  type: integer
                  description: Minimal number of books
                  format: int32
                numberOfBooksTo:
                  type: integer
                  description: Maximal number of books
                  format: int32
                yearFrom:
                  type: integer
                  description: Starting year of book series stories
                  format: int32
                yearTo:
                  type: integer
                  description: Ending year of book series stories
                  format: int32
                miniseries:
                  type: boolean
                  description: Whether it should be a miniseries
                eBookSeries:
                  type: boolean
                  description: Whether it should be an e-book series
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookSeriesBaseResponse'
  /v1/rest/character:
    get:
      tags:
        - Character
      description: Retrieval of a single character
      operationId: v1GetCharacter
      parameters:
        - name: uid
          in: query
          description: Character unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/character/search:
    get:
      tags:
        - Character
      description: Pagination over characters
      operationId: v1PageCharacter
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Character
      description: Searching characters
      operationId: v1SearchCharacters
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Character name
                gender:
                  type: string
                  description: Character gender
                deceased:
                  type: boolean
                  description: Whether it should be a deceased character
                hologram:
                  type: boolean
                  description: Whether it should be a hologram
                fictionalCharacter:
                  type: boolean
                  description: Whether it should be a fictional character (from universe
                    point of view)
                mirror:
                  type: boolean
                  description: Whether it should be a mirror universe character
                alternateReality:
                  type: boolean
                  description: Whether it should be a alternate reality character
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterBaseResponse'
  /v1/rest/comics:
    get:
      tags:
        - Comics
      description: Retrieval of a single comics
      operationId: v1GetComics
      parameters:
        - name: uid
          in: query
          description: Comics unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComicsFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/comics/search:
    get:
      tags:
        - Comics
      description: Pagination over comics
      operationId: v1PageComics
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComicsBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Comics
      description: Searching comics
      operationId: v1SearchComics
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Comics title
                publishedYearFrom:
                  type: integer
                  description: Starting year the comics was published
                  format: int32
                publishedYearTo:
                  type: integer
                  description: Ending year the comics was published
                  format: int32
                numberOfPagesFrom:
                  type: integer
                  description: Minimal number of pages
                  format: int32
                numberOfPagesTo:
                  type: integer
                  description: Maximal number of pages
                  format: int32
                stardateFrom:
                  type: number
                  description: Starting stardate of comics story
                  format: float
                stardateTo:
                  type: number
                  description: Ending stardate of comics story
                  format: float
                yearFrom:
                  type: integer
                  description: Starting year of comics story
                  format: int32
                yearTo:
                  type: integer
                  description: Ending year of comics story
                  format: int32
                photonovel:
                  type: boolean
                  description: Whether it should be a photonovel
                adaptation:
                  type: boolean
                  description: Whether it should be an adaptation of an episode or
                    a movie
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComicsBaseResponse'
  /v1/rest/comicCollection:
    get:
      tags:
        - ComicCollection
      description: Retrieval of a single comic collection
      operationId: v1GetComicCollection
      deprecated: true
      parameters:
        - name: uid
          in: query
          description: Comic collection unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComicCollectionFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/comicCollection/search:
    get:
      tags:
        - ComicCollection
      description: Pagination over comic collections
      operationId: v1PageComicCollections
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComicCollectionBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - ComicCollection
      description: Searching comic collections
      operationId: v1SearchComicCollections
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Comic collection title
                publishedYearFrom:
                  type: integer
                  description: Starting year the comic collection was published
                  format: int32
                publishedYearTo:
                  type: integer
                  description: Ending year the comic collection was published
                  format: int32
                numberOfPagesFrom:
                  type: integer
                  description: Minimal number of pages
                  format: int32
                numberOfPagesTo:
                  type: integer
                  description: Maximal number of pages
                  format: int32
                stardateFrom:
                  type: number
                  description: Starting stardate of comic collection stories
                  format: float
                stardateTo:
                  type: number
                  description: Ending stardate of comic collections stories
                  format: float
                yearFrom:
                  type: integer
                  description: Starting year of comic collection stories
                  format: int32
                yearTo:
                  type: integer
                  description: Ending year of comic collections stories
                  format: int32
                photonovel:
                  type: boolean
                  description: Whether it should be an photonovel collection
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComicCollectionBaseResponse'
  /v2/rest/comicCollection:
    get:
      tags:
        - ComicCollection
      description: Retrieval of a single comic collection (V2)
      operationId: v2GetComicCollection
      parameters:
        - name: uid
          in: query
          description: Comic collection unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComicCollectionV2FullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/comicSeries:
    get:
      tags:
        - ComicSeries
      description: Retrieval of a single comic series
      operationId: v1GetComicSeries
      parameters:
        - name: uid
          in: query
          description: Comic series unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComicSeriesFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/comicSeries/search:
    get:
      tags:
        - ComicSeries
      description: Pagination over comic series
      operationId: v1PageComicSeries
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComicSeriesBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - ComicSeries
      description: Searching comic series
      operationId: v1SearchComicSeries
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Comic series title
                publishedYearFrom:
                  type: integer
                  description: Starting year the comic series was published
                  format: int32
                publishedYearTo:
                  type: integer
                  description: Ending year the comic series was published
                  format: int32
                numberOfIssuesFrom:
                  type: integer
                  description: Minimal number of issues
                  format: int32
                numberOfIssuesTo:
                  type: integer
                  description: Maximal number of issues
                  format: int32
                stardateFrom:
                  type: number
                  description: Starting stardate of comic series stories
                  format: float
                stardateTo:
                  type: number
                  description: Starting stardate of comic series stories
                  format: float
                yearFrom:
                  type: integer
                  description: Starting year of comic series stories
                  format: int32
                yearTo:
                  type: integer
                  description: Ending year of comic series stories
                  format: int32
                miniseries:
                  type: boolean
                  description: Whether it should be a miniseries
                photonovelSeries:
                  type: boolean
                  description: Whether it should be photonovel series
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComicSeriesBaseResponse'
  /v1/rest/comicStrip:
    get:
      tags:
        - ComicStrip
      description: Retrieval of a single comic strip
      operationId: v1GetComicStrip
      parameters:
        - name: uid
          in: query
          description: Comic strip unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComicStripFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/comicStrip/search:
    get:
      tags:
        - ComicStrip
      description: Pagination over comic strips
      operationId: v1PageComicStrips
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComicStripBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - ComicStrip
      description: Searching comic strips
      operationId: v1SearchComicStrips
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Comic strip title
                publishedYearFrom:
                  type: integer
                  description: Starting year the comic strip was published
                  format: int32
                publishedYearTo:
                  type: integer
                  description: Ending year the comic strip was published
                  format: int32
                numberOfPagesFrom:
                  type: integer
                  description: Minimal number of pages
                  format: int32
                numberOfPagesTo:
                  type: integer
                  description: Maximal number of pages
                  format: int32
                yearFrom:
                  type: integer
                  description: Starting year of comic strip story
                  format: int32
                yearTo:
                  type: integer
                  description: Ending year of comic strip story
                  format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComicStripBaseResponse'
  /v1/rest/company:
    get:
      tags:
        - Company
      description: Retrieval of a single company
      operationId: v1GetCompany
      deprecated: true
      parameters:
        - name: uid
          in: query
          description: Company unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/company/search:
    get:
      tags:
        - Company
      description: Pagination over companies
      operationId: v1PageCompanies
      deprecated: true
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Company
      description: Searching companies
      operationId: v1SearchCompanies
      deprecated: true
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Company name
                broadcaster:
                  type: boolean
                  description: Whether it should be a broadcaster
                collectibleCompany:
                  type: boolean
                  description: Whether it should be a collectible company
                conglomerate:
                  type: boolean
                  description: Whether it should be a conglomerate
                digitalVisualEffectsCompany:
                  type: boolean
                  description: Whether it should be a digital visual effects company
                distributor:
                  type: boolean
                  description: Whether it should be a distributor
                gameCompany:
                  type: boolean
                  description: Whether it should be a game company
                filmEquipmentCompany:
                  type: boolean
                  description: Whether it should be a film equipment company
                makeUpEffectsStudio:
                  type: boolean
                  description: Whether it should be a make-up effects studio
                mattePaintingCompany:
                  type: boolean
                  description: Whether it should be a matte painting company
                modelAndMiniatureEffectsCompany:
                  type: boolean
                  description: Whether it should be a model and miniature effects
                    company
                postProductionCompany:
                  type: boolean
                  description: Whether it should be a post-production company
                productionCompany:
                  type: boolean
                  description: Whether it should be a production company
                propCompany:
                  type: boolean
                  description: Whether it should be a prop company
                recordLabel:
                  type: boolean
                  description: Whether it should be a record label
                specialEffectsCompany:
                  type: boolean
                  description: Whether it should be a special effects company
                tvAndFilmProductionCompany:
                  type: boolean
                  description: Whether it should be a TV and film production company
                videoGameCompany:
                  type: boolean
                  description: Whether it should be a video game company
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBaseResponse'
  /v2/rest/company:
    get:
      tags:
        - Company
      description: Retrieval of a single company (V2)
      operationId: v2GetCompany
      parameters:
        - name: uid
          in: query
          description: Company unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyV2FullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/rest/company/search:
    get:
      tags:
        - Company
      description: Pagination over companies (V2)
      operationId: v2PageCompanies
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyV2BaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Company
      description: Searching companies (V2)
      operationId: v2SearchCompanies
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Company name
                broadcaster:
                  type: boolean
                  description: Whether it should be a broadcaster
                streamingService:
                  type: boolean
                  description: Whether it should be a streaming service
                collectibleCompany:
                  type: boolean
                  description: Whether it should be a collectible company
                conglomerate:
                  type: boolean
                  description: Whether it should be a conglomerate
                visualEffectsCompany:
                  type: boolean
                  description: Whether it should be a visual effects company
                digitalVisualEffectsCompany:
                  type: boolean
                  description: Whether it should be a digital visual effects company
                distributor:
                  type: boolean
                  description: Whether it should be a distributor
                gameCompany:
                  type: boolean
                  description: Whether it should be a game company
                filmEquipmentCompany:
                  type: boolean
                  description: Whether it should be a film equipment company
                makeUpEffectsStudio:
                  type: boolean
                  description: Whether it should be a make-up effects studio
                mattePaintingCompany:
                  type: boolean
                  description: Whether it should be a matte painting company
                modelAndMiniatureEffectsCompany:
                  type: boolean
                  description: Whether it should be a model and miniature effects
                    company
                postProductionCompany:
                  type: boolean
                  description: Whether it should be a post-production company
                productionCompany:
                  type: boolean
                  description: Whether it should be a production company
                propCompany:
                  type: boolean
                  description: Whether it should be a prop company
                recordLabel:
                  type: boolean
                  description: Whether it should be a record label
                specialEffectsCompany:
                  type: boolean
                  description: Whether it should be a special effects company
                tvAndFilmProductionCompany:
                  type: boolean
                  description: Whether it should be a TV and film production company
                videoGameCompany:
                  type: boolean
                  description: Whether it should be a video game company
                publisher:
                  type: boolean
                  description: Whether it should be a publisher
                publicationArtStudio:
                  type: boolean
                  description: Whether it should be a publication art studio
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyV2BaseResponse'
  /v1/rest/conflict:
    get:
      tags:
        - Conflict
      description: Retrieval of a single conflict
      operationId: v1GetConflict
      deprecated: true
      parameters:
        - name: uid
          in: query
          description: Conflict unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/conflict/search:
    get:
      tags:
        - Conflict
      description: Pagination over conflicts
      operationId: v1PageConflicts
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Conflict
      description: Searching conflicts
      operationId: v1SearchConflicts
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Conflict name
                yearFrom:
                  type: integer
                  description: Starting year of the conflict
                  format: int32
                yearTo:
                  type: integer
                  description: Ending year of the conflict
                  format: int32
                earthConflict:
                  type: boolean
                  description: Whether it should be an Earth conflict
                federationWar:
                  type: boolean
                  description: Whether this conflict should be a part of war involving
                    Federation
                klingonWar:
                  type: boolean
                  description: Whether this conflict should be a part of war involving
                    the Klingons
                dominionWarBattle:
                  type: boolean
                  description: Whether this conflict should be a Dominion war battle
                alternateReality:
                  type: boolean
                  description: Whether this conflict should be from alternate reality
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictBaseResponse'
  /v2/rest/conflict:
    get:
      tags:
        - Conflict
      description: Retrieval of a single conflict (V2)
      operationId: v2GetConflict
      parameters:
        - name: uid
          in: query
          description: Conflict unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictV2FullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/common/dataVersion:
    get:
      tags:
        - DataVersion
      description: Retrieval of a data version
      operationId: v1GetDataVersion
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataVersion'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/element:
    get:
      tags:
        - Element
      description: Retrieval of a single element
      operationId: v1GetElement
      deprecated: true
      parameters:
        - name: uid
          in: query
          description: Element unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElementFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/element/search:
    get:
      tags:
        - Element
      description: Pagination over elements
      operationId: v1PageElements
      deprecated: true
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElementBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Element
      description: Searching elements
      operationId: v1SearchElements
      deprecated: true
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Element name
                symbol:
                  type: string
                  description: Element symbol
                transuranium:
                  type: boolean
                  description: Whether it should be a transuranium
                gammaSeries:
                  type: boolean
                  description: Whether it should belong to Gamma series
                hypersonicSeries:
                  type: boolean
                  description: Whether it should belong to Hypersonic series
                megaSeries:
                  type: boolean
                  description: Whether it should belong to Mega series
                omegaSeries:
                  type: boolean
                  description: Whether it should belong to Omega series
                transonicSeries:
                  type: boolean
                  description: Whether it should belong to Transonic series
                worldSeries:
                  type: boolean
                  description: Whether it should belong to World series
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElementBaseResponse'
  /v2/rest/element:
    get:
      tags:
        - Element
      description: Retrieval of a single element (V2)
      operationId: v2GetElement
      parameters:
        - name: uid
          in: query
          description: Element unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElementV2FullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/rest/element/search:
    get:
      tags:
        - Element
      description: Pagination over elements (V2)
      operationId: v2PageElements
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElementV2BaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Element
      description: Searching elements (V2)
      operationId: v2SearchElements
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Element name
                symbol:
                  type: string
                  description: Element symbol
                transuranic:
                  type: boolean
                  description: Whether it should be a transuranic
                gammaSeries:
                  type: boolean
                  description: Whether it should belong to Gamma series
                hypersonicSeries:
                  type: boolean
                  description: Whether it should belong to Hypersonic series
                megaSeries:
                  type: boolean
                  description: Whether it should belong to Mega series
                omegaSeries:
                  type: boolean
                  description: Whether it should belong to Omega series
                transonicSeries:
                  type: boolean
                  description: Whether it should belong to Transonic series
                worldSeries:
                  type: boolean
                  description: Whether it should belong to World series
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElementV2BaseResponse'
  /v1/rest/episode:
    get:
      tags:
        - Episode
      description: Retrieval of a single episode
      operationId: v1GetEpisode
      parameters:
        - name: uid
          in: query
          description: Episode unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpisodeFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/episode/search:
    get:
      tags:
        - Episode
      description: Pagination over episodes
      operationId: v1PageEpisodes
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpisodeBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Episode
      description: Searching episodes
      operationId: v1SearchEpisodes
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Episode title
                seasonNumberFrom:
                  type: integer
                  description: Minimal season number
                  format: int32
                seasonNumberTo:
                  type: integer
                  description: Maximal season number
                  format: int32
                episodeNumberFrom:
                  type: integer
                  description: Minimal episode number in season
                  format: int32
                episodeNumberTo:
                  type: integer
                  description: Maximal episode number in season
                  format: int32
                productionSerialNumber:
                  type: string
                  description: Production serial number
                featureLength:
                  type: boolean
                  description: Whether it should be a feature length episode
                stardateFrom:
                  type: number
                  description: Starting stardate of episode story
                  format: float
                stardateTo:
                  type: number
                  description: Ending stardate of episode story
                  format: float
                yearFrom:
                  type: integer
                  description: Starting year of episode story
                  format: int32
                yearTo:
                  type: integer
                  description: Ending year of episode story
                  format: int32
                usAirDateFrom:
                  type: string
                  description: Minimal date the episode was first aired in the United
                    States
                  format: date
                usAirDateTo:
                  type: string
                  description: Maximal date the episode was first aired in the United
                    States
                  format: date
                finalScriptDateFrom:
                  type: string
                  description: Minimal date the episode script was completed
                  format: date
                finalScriptDateTo:
                  type: string
                  description: Maximal date the episode script was completed
                  format: date
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpisodeBaseResponse'
  /v1/rest/food:
    get:
      tags:
        - Food
      description: Retrieval of a single food
      operationId: v1GetFood
      parameters:
        - name: uid
          in: query
          description: Food unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FoodFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/food/search:
    get:
      tags:
        - Food
      description: Pagination over foods
      operationId: v1PageFoods
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FoodBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Food
      description: Searching foods
      operationId: v1SearchFoods
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Food name
                earthlyOrigin:
                  type: boolean
                  description: Whether it should be of earthly origin
                dessert:
                  type: boolean
                  description: Whether it should be a dessert
                fruit:
                  type: boolean
                  description: Whether it should be a fruit
                herbOrSpice:
                  type: boolean
                  description: Whether it should be an herb or a spice
                sauce:
                  type: boolean
                  description: Whether it should be a sauce
                soup:
                  type: boolean
                  description: Whether it should be a soup
                beverage:
                  type: boolean
                  description: Whether it should be a beverage
                alcoholicBeverage:
                  type: boolean
                  description: Whether it should be an alcoholic beverage
                juice:
                  type: boolean
                  description: Whether it should be a juice
                tea:
                  type: boolean
                  description: Whether it should be a tea
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FoodBaseResponse'
  /v1/rest/literature:
    get:
      tags:
        - Literature
      description: Retrieval of a single literature
      operationId: v1GetLiterature
      parameters:
        - name: uid
          in: query
          description: Literature unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiteratureFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/literature/search:
    get:
      tags:
        - Literature
      description: Pagination over literature
      operationId: v1PageLiterature
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiteratureBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Literature
      description: Searching literature
      operationId: v1SearchLiterature
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Literature title
                earthlyOrigin:
                  type: boolean
                  description: Whether it should be of earthly origin
                shakespeareanWork:
                  type: boolean
                  description: Whether it should be a Shakespearean work
                report:
                  type: boolean
                  description: Whether it should be a report
                scientificLiterature:
                  type: boolean
                  description: Whether it should be a scientific literature
                technicalManual:
                  type: boolean
                  description: Whether it should be a technical manual
                religiousLiterature:
                  type: boolean
                  description: Whether it should be a religious literature
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiteratureBaseResponse'
  /v1/rest/location:
    get:
      tags:
        - Location
      description: Retrieval of a single location
      operationId: v1GetLocation
      deprecated: true
      parameters:
        - name: uid
          in: query
          description: Location unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/location/search:
    get:
      tags:
        - Location
      description: Pagination over locations
      operationId: v1PageLocations
      deprecated: true
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Location
      description: Searching locations
      operationId: v1SearchLocations
      deprecated: true
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Location name
                earthlyLocation:
                  type: boolean
                  description: Whether it should be an earthly location
                fictionalLocation:
                  type: boolean
                  description: Whether it should be a fictional location
                religiousLocation:
                  type: boolean
                  description: Whether it should be a religious location
                geographicalLocation:
                  type: boolean
                  description: Whether it should be a geographical location
                bodyOfWater:
                  type: boolean
                  description: Whether it should be a body of water
                country:
                  type: boolean
                  description: Whether it should be a country
                subnationalEntity:
                  type: boolean
                  description: Whether it should be a subnational entity
                settlement:
                  type: boolean
                  description: Whether it should be a settlement
                usSettlement:
                  type: boolean
                  description: Whether it should be a US settlement
                bajoranSettlement:
                  type: boolean
                  description: Whether it should be a Bajoran settlement
                colony:
                  type: boolean
                  description: Whether it should be a colony
                landform:
                  type: boolean
                  description: Whether it should be a landform
                landmark:
                  type: boolean
                  description: Whether it should be a landmark
                road:
                  type: boolean
                  description: Whether it should be a road
                structure:
                  type: boolean
                  description: Whether it should be a structure
                shipyard:
                  type: boolean
                  description: Whether it should be a shipyard
                buildingInterior:
                  type: boolean
                  description: Whether it should be a building interior
                establishment:
                  type: boolean
                  description: Whether it should be a establishment
                medicalEstablishment:
                  type: boolean
                  description: Whether it should be a medical establishment
                ds9Establishment:
                  type: boolean
                  description: Whether it should be a DS9 establishment
                school:
                  type: boolean
                  description: Whether it should be a school
                mirror:
                  type: boolean
                  description: Whether this location should be from mirror universe
                alternateReality:
                  type: boolean
                  description: Whether this location should be from alternate reality
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationBaseResponse'
  /v2/rest/location:
    get:
      tags:
        - Location
      description: Retrieval of a single location (V2)
      operationId: v2GetLocation
      parameters:
        - name: uid
          in: query
          description: Location unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationV2FullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/rest/location/search:
    get:
      tags:
        - Location
      description: Pagination over locations (V2)
      operationId: v2PageLocations
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationV2BaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Location
      description: Searching locations (V2)
      operationId: v2SearchLocations
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                  description: Location name
                earthlyLocation:
                  type: boolean
                  description: Whether it should be an earthly location
                qonosLocation:
                  type: boolean
                  description: Whether it should be a Qo'nos location
                fictionalLocation:
                  type: boolean
                  description: Whether it should be a fictional location
                mythologicalLocation:
                  type: boolean
                  description: Whether it should be a mythological location
                religiousLocation:
                  type: boolean
                  description: Whether it should be a religious location
                geographicalLocation:
                  type: boolean
                  description: Whether it should be a geographical location
                bodyOfWater:
                  type: boolean
                  description: Whether it should be a body of water
                country:
                  type: boolean
                  description: Whether it should be a country
                subnationalEntity:
                  type: boolean
                  description: Whether it should be a subnational entity
                settlement:
                  type: boolean
                  description: Whether it should be a settlement
                usSettlement:
                  type: boolean
                  description: Whether it should be a US settlement
                bajoranSettlement:
                  type: boolean
                  description: Whether it should be a Bajoran settlement
                colony:
                  type: boolean
                  description: Whether it should be a colony
                landform:
                  type: boolean
                  description: Whether it should be a landform
                road:
                  type: boolean
                  description: Whether it should be a road
                structure:
                  type: boolean
                  description: Whether it should be a structure
                shipyard:
                  type: boolean
                  description: Whether it should be a shipyard
                buildingInterior:
                  type: boolean
                  description: Whether it should be a building interior
                establishment:
                  type: boolean
                  description: Whether it should be a establishment
                medicalEstablishment:
                  type: boolean
                  description: Whether it should be a medical establishment
                ds9Establishment:
                  type: boolean
                  description: Whether it should be a DS9 establishment
                school:
                  type: boolean
                  description: Whether it should be a school
                restaurant:
                  type: boolean
                  description: Whether it should be a restaurant
                residence:
                  type: boolean
                  description: Whether it should be a residence
                mirror:
                  type: boolean
                  description: Whether this location should be from mirror universe
                alternateReality:
                  type: boolean
                  description: Whether this location should be from alternate reality
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationV2BaseResponse'
  /v1/rest/magazine:
    get:
      tags:
        - Magazine
      description: Retrieval of a single magazine
      operationId: v1GetMagazine
      parameters:
        - name: uid
          in: query
          description: Magazine unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MagazineFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/magazine/search:
    get:
      tags:
        - Magazine
      description: Pagination over magazines
      operationId: v1PageMagazines
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MagazineBaseResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Magazine
      description: Searching magazines
      operationId: v1SearchMagazines
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: 'Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC'
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                title:
                  type: string
                  description: Magazine title
                publishedYearFrom:
                  type: integer
                  description: Starting year the magazine was published
                  format: int32
                publishedYearTo:
                  type: integer
                  description: Ending year the magazine was published
                  format: int32
                numberOfPagesFrom:
                  type: integer
                  description: Minimal number of pages
                  format: int32
                numberOfPagesTo:
                  type: integer
                  description: Maximal number of pages
                  format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MagazineBaseResponse'
  /v1/rest/magazineSeries:
    get:
      tags:
        - MagazineSeries
      description: Retrieval of a single magazine series
      operationId: v1GetMagazineSeries
      parameters:
        - name: uid
          in: query
          description: Magazine series unique ID
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MagazineSeriesFullResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/rest/magazineSeries/search:
    get:
      tags:
        - MagazineSeries
      description: Pagination over magazine series
      operationId: v1PageMagazineSeries
      parameters:
        - name: pageNumber
          in: query
          description: Zero-based page number
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
            format: int32
      responses:
        200:
[...]
